/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.items-slider-box {
	.slider-wrap {
		margin: 0;
	}
	.sl-wrap {
		padding: 0;
	}
	.slick-list {
		overflow: visible;
	}
	.slick-slide {
		transition: all ease 0.2s;
		&:not(.slick-active) {
			opacity: 0;
			pointer-events: none;
		}
	}
	.btn-action-ico {
		&.ico-arrow {
			position: absolute;
			bottom: 15px;right: 15px;
			z-index: 10;
			&.ico-arrow-prev {
				margin-right: 45px;
			}
			&.btn {
				width: 42px;height: 42px;
			}
		}
	}
}
@media (min-width: 1024px) {
	.items-slider-box {
		.slider:has(.ico-arrow:hover) {
			.slick-active {
				.item-tile-catalog {
					&.tile-slider {
						filter: drop-shadow(0 13px 51px rgba(0, 0, 0, 0.25));
						border-bottom-right-radius: 0;
						border-bottom-left-radius: 0;
						transition-delay: 0.02s;
						box-shadow: none;
						z-index: 3;
						.tile-features-wrap, .tile-colors-wrap {
							display: block;
							animation-delay: 1s;
						}
						.tile-button-action {
							display: block;
						}
					}
				}
			}
		}
	}
}