/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.items-slider-box {
	.slider-wrap {
		margin: 0;
	}
	.sl-wrap {
		padding: 0;
	}
	.slick-list {
		overflow: visible;
	}
	.slick-slide {
		transition: all ease 0.2s;
		&:not(.slick-active) {
			opacity: 0;
			pointer-events: none;
		}
	}
	.btn-action-ico {
		&.ico-arrow {
			position: absolute;
			bottom: 15px;right: 15px;
			z-index: 10;
			&.ico-arrow-prev {
				margin-right: 45px;
			}
			&.btn {
				width: 42px;height: 42px;
			}
		}
	}
}