/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.photos-gallery-box {
	position: relative;
	margin-bottom: 5rem;
	.main-inner-wrap {
		display: block;
		position: relative;
		.elm-photo {
			aspect-ratio: 457/439;
		}
	}
	.preview-inner-wrap {
		margin-top: 8px;
		.list {
			margin: 0 -4px -8px -4px;
			display: flex;
			flex-wrap: wrap;
			li {
				padding: 0 4px 8px 4px;
				width: 25%;
				flex-shrink: 0;
			}
		}
	}
	.elm-photo {
		border-radius: var(--main-radius);
		aspect-ratio: 109/104;
	}
	.btn-action-ico {
		width: 40px;height: 40px;
		position: absolute;
		top: 20px;right: 24px;
		z-index: 5;
		border-radius: var(--main-radius);
		&+.btn-action-ico {
			margin-right: 48px;
		}
		&.ico-fav:before, &.ico-fav.active:before, &.ico-fav:hover:before {
			background-image: url(../img/icons/fav-border.svg);
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Group'%3E%3Cpath id='Vector' d='M23.0363 6.78688V6.81376L23.0401 6.84064C23.0523 6.91616 23.1643 7.69056 22.8481 9.0128C22.3956 10.9174 21.3486 12.6608 19.8062 14.0483L11.9361 21.025L4.19209 14.049C2.64905 12.664 1.60073 10.9187 1.14761 9.016C0.832734 7.69184 0.945374 6.91872 0.955614 6.84512L0.960094 6.81696V6.7888C1.27561 3.3328 3.70057 0.9776 6.59209 0.9776C8.51209 0.9776 10.2337 1.99328 11.2481 3.7168L11.922 4.86176L12.6068 3.7232C13.6276 2.0272 15.4343 0.97824 17.3979 0.97824C20.2958 0.97568 22.7201 3.33088 23.0363 6.78688Z' stroke='%23E8F2FF' stroke-opacity='0.37' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
			background-size: 22px auto;
		}
		&.ico-compare:before, &.ico-compare.active:before, &.ico-compare:hover:before {
			background-image: url(../img/icons/compare-border.svg);
			background-image: url("data:image/svg+xml,%3Csvg width='30' height='24' viewBox='0 0 30 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Group'%3E%3Cpath id='Vector' d='M0.872398 13.3779H12.2401M7.21608 5.23392C7.14489 5.12225 7.0467 5.03033 6.93059 4.96666C6.81448 4.90298 6.68419 4.8696 6.55176 4.8696C6.41933 4.8696 6.28904 4.90298 6.17293 4.96666C6.05682 5.03033 5.95863 5.12225 5.88744 5.23392L0.967118 12.9658C0.886992 13.0923 0.844385 13.239 0.844238 13.3888C0.844238 14.3827 1.11624 15.8643 1.96232 17.1226C2.83592 18.423 4.30344 19.4477 6.55176 19.4477C8.80008 19.4477 10.2676 18.4237 11.1412 17.1226C11.9873 15.8643 12.2593 14.3827 12.2593 13.3888C12.2591 13.239 12.2165 13.0923 12.1364 12.9658L7.21608 5.23392Z' stroke='%23AEBAC9' stroke-opacity='0.37' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath id='Vector_2' d='M17.7684 16.5779H29.1361M24.1121 8.43392C24.0409 8.32226 23.9427 8.23034 23.8266 8.16666C23.7105 8.10298 23.5802 8.0696 23.4478 8.0696C23.3153 8.0696 23.185 8.10298 23.0689 8.16666C22.9528 8.23034 22.8546 8.32226 22.7834 8.43392L17.8631 16.1658C17.783 16.2923 17.7404 16.439 17.7402 16.5888C17.7402 17.5827 18.0122 19.0643 18.8583 20.3226C19.7319 21.623 21.1994 22.6477 23.4478 22.6477C25.6961 22.6477 27.1636 21.6237 28.0372 20.3226C28.8833 19.0643 29.1553 17.5827 29.1553 16.5888C29.1551 16.439 29.1125 16.2923 29.0324 16.1658L24.1121 8.43392Z' stroke='%23AEBAC9' stroke-opacity='0.37' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath id='Vector_3' d='M18.6606 5.23968L23.6392 6.20224' stroke='%23AEBAC9' stroke-opacity='0.37' stroke-width='1.6' stroke-linejoin='round'/%3E%3Cpath id='Vector_4' d='M6.58496 2.90432L11.6339 3.88096' stroke='%23AEBAC9' stroke-opacity='0.37' stroke-width='1.6' stroke-linejoin='round'/%3E%3Cpath id='Vector_5' d='M15.1277 7.60448C16.854 7.60448 18.2535 6.20503 18.2535 4.47872C18.2535 2.75241 16.854 1.35296 15.1277 1.35296C13.4014 1.35296 12.002 2.75241 12.002 4.47872C12.002 6.20503 13.4014 7.60448 15.1277 7.60448Z' stroke='%23AEBAC9' stroke-opacity='0.37' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
			background-size: 28px auto !important;
		}
		&.ico-fav, &.ico-compare {
			&.active {
				&:before {
					filter: brightness(0) invert(1);
				}
			}
		}
	}
}
.card-title-box {
	margin-bottom: 14px;
	.title-wrap {
		margin-bottom: 16px;
	}
	.title-actions-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		margin: 0 -24px 0 0;
	}
	.action-wrap {
		padding: 0 24px 0 0;
		margin-bottom: 3px;
		flex-shrink: 0;
		max-width: 100%;
	}
	.h1-title {
		margin-bottom: 0;
	}
	.btn-action-icon {
		align-items: center;
		line-height: 24px;
		.button-title {
			padding-left: 8px;
		}
		.button-ico {
			width: 20px;height: 20px;
			margin: 0;
		}
	}
	.btn-action-fav,
	.btn-action-compare {
		padding-left: 28px;
		line-height: 24px;
		&:not(:hover, .active) {
			color: var(--clr-light);
			&:before {
				opacity: 0.3;
			}
		}
	}
}
.article-box {
	margin-bottom: 70px;
}
.catalog-box {
	margin-bottom: 60px;
	position: relative;
	&:hover {
		z-index: 2;
	}
	.items-wrap {
		margin: 0 -4px -24px -4px;
	}
	.item-wrap {
		padding: 0 4px;
		margin-bottom: 24px;
		width: 50%;
	}
}
.page-actions-box {
	margin: 24px 0 0 0;
	text-align: center;
	.pagenav-inner-wrap {
		display: none;
		justify-content: center;
		font-size: 16px;
		line-height: 32px;
		color: var(--clr-light);
	}
	.pages-wrap {
		display: flex;
		margin: 0 10px;
		flex-shrink: 0;
	}
	.btn-page {
		display: block;
		flex-shrink: 0;
		position: relative;
		height: 32px;
		border-radius: var(--main-radius);
		color: inherit;
		transition: all ease 0.2s;
		margin: 0 8px;
		padding: 0 8px;
		&:nth-child(9) {
			&~.btn-page {
				display: none;
			}
		}
		&:hover, &.active {
			background-color: var(--clr-base-700);
			color: #fff;
			&:before {
				filter: brightness(0) invert(1);
			}
		}
		&.button-nav {
			&:before {
				content: "";
				display: block;
				width: 16px;
				height: 16px;
				position: absolute;
				background: url(../../img/icons/arrow-next.svg) center no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_156_12826)'%3E%3Cpath d='M4.94 5.72668L8 8.78002L11.06 5.72668L12 6.66668L8 10.6667L4 6.66668L4.94 5.72668Z' fill='%2398A1AB'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_156_12826'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
				background-size: 100% auto;
				transition: all ease 0.2s;
				top: 50%;
				margin-top: -8px;
			}
		}
		&.button-nav-prev {
			padding-left: 34px;
			&:before {
				left: 8px;
				transform: rotate(90deg);
			}
		}
		&.button-nav-next {
			padding-right: 34px;
			&:before {
				right: 8px;
				transform: rotate(-90deg);
			}
		}
	}
}
.catalog-actions-box {
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.links-list-box {
		width: 100%;
		flex-shrink: 0;
		margin-bottom: 20px;
	}
	.sort-inner-wrap {
		flex-shrink: 0;
		padding: 0 20px 0 0;
	}
	.filter-action-wrap {
		flex-shrink: 0;
		.btn {
			padding: 0;
			width: 56px;
		}
	}
}
.links-list-box {
	padding: 16px 16px 4px 16px;
	background: #fff;
	border-radius: var(--main-radius);
	margin-bottom: 20px;
	.list-inner-wrap {
		margin: 0 -16px;
		padding: 0 16px 2px 16px;
		overflow-x: auto;
		overflow-y: hidden;
		scrollbar-width: none;
		-ms-overflow-style: none;
		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	}
	.page-subtitle {
		margin: 0 0 8px 0;
	}
	.list {
		display: flex;
		white-space: nowrap;
		margin: 0 -16px 0 0;
		color: var(--clr-light);
		li {
			padding: 0 16px 10px 0;
			flex-shrink: 0;
		}
		a {
			&:not(:hover) {
				color: inherit;
			}
		}
	}
}
.filter-box {
	.filter-submit-wrap {
		position: relative;
		&:before {
			content: "";
			display: block;
			position: absolute;
			bottom: 100%;left: 0;right: 0;
			height: 60px;
			background: linear-gradient(to bottom, fade(#fff, 0) 0%, #fff 70%, #fff 100%);
			z-index: 10;
			pointer-events: none;
		}
	}
	.filter-sections-wrap {
		background: #fff;
		padding-bottom: 20px;
	}
	.filter-button {
		.btn {
			height: 70px;
			font-size: 16px;
			font-weight: bold;
			width: 100%;
			border-radius: 0;
			&.button-light {

			}
			.button-ico {
				width: 20px;height: 20px;
				&:not(:first-child) {
					margin-left: 20px;
				}
			}
		}
		.button-title-light {
			display: inline;
			color: var(--clr-att-100);
		}
	}
	.btn-popup-close {
		position: fixed;
		top: 0;right: 0;
		z-index: 10;
		width: 48px;height: 48px;
		display: none;
		&:before {
			opacity: 0.2;
			background-size: 16px auto;
		}
	}
	.btn-popup {
		
	}
}
.catalog-outer-wrap {
	display: flex;
	flex-direction: column;
	.side-wrap, .content-wrap {
		order: 2;
		width: 100%;
		flex-shrink: 0;
	}
	.content-wrap {
		order: 1;
	}
}
.catalog-title-box {
	display: flex;
	flex-wrap: wrap;
	.title-wrap {
		width: 100%;
		flex-shrink: 0;
		margin-bottom: 4px;
	}
	.title-info-wrap {
		width: 100%;
		flex-shrink: 0;
		font-size: 14px;
		line-height: 20px;
		color: var(--clr-light);
		margin-bottom: 16px;
		.list {
			display: flex;
			margin: 0 0 0 -29px;
			li {
				padding: 0 0 0 29px;
				position: relative;
				flex-shrink: 0;
				&:after {
					content: "|";
					display: block;
					position: absolute;
					top: 0;left: 0;
					width: 29px;
					text-align: center;
				}
				&:first-child {
					&:after {
						display: none;
					}
				}
			}
		}
	}
	
	.h1-title {
		margin: 0;
	}
}
.breadcrumbs-box {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: var(--clr-light);
	margin-bottom: 24px;
	.menu {
		margin: 0 -32px 0 0;
		display: flex;
		flex-wrap: wrap;
		li {
			padding: 0 32px 0 0;
			margin: 0;
			flex-shrink: 0;
			max-width: 100%;
			&:after {
				content: "/";
				display: block;
				position: absolute;
				top: 0;right: 0;
				text-align: center;
				width: 32px;
			}
			&:last-child {
				color: var(--clr-base);
				font-weight: bold;
				&:after {
					display: none;
				}
				.link-main {
					border-bottom: none;
				}
			}
		}
	}
	a {
		color: inherit;
		&:hover {
			color: var(--clr-att);
		}
	}
}
.delivery-info-box {
	margin-bottom: 48px;
	.info-inner-wrap {
		margin-bottom: 48px;
	}
	.slider-wrap {
		border-radius: var(--main-radius);
		position: relative;
		margin: 0;
		overflow: hidden;
		.ico-arrow {
			position: absolute;
			bottom: 32px;right: 32px;
			width: 40px;height: 40px;
		}
		.ico-arrow-prev {
			margin-right: 44px;
		}
	}
	.sl-wrap {
		padding: 0;
	}
	.sl-inner-wrap {
		background: var(--clr-base-700);
		font-size: 14px;
		line-height: (20/14);
		color: #98A1AB;
		padding: 32px 24px;
		position: relative;
	}
	.sl-content-wrap {
		display: block;
		position: relative;
		z-index: 2;
	}
	.sl-title-wrap {
		padding-bottom: 24px;
		min-height: 160px;
		p {
			padding-right: 60px;
		}
	}
	.sl-photo-wrap {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		.elm-photo {
			position: absolute;
			bottom: -100px;right: -195px;
			width: 500px;
		}
	}
	.sl-action-wrap {
		display: block;
		line-height: 1;
		position: relative;
		.btn {
			height: 40px;
			padding: 0 16px;
			font-size: 14px;
			font-weight: 400;
			.button-ico {
				margin: 0 0 0 10px;
				width: 20px;height: 20px;
			}
		}
	}
	.sl-title {
		display: block;
		font-size: 26px;
		line-height: 32px;
		color: #fff;
		font-weight: bold;
		margin: 0 0 8px 0;
	}
	.items-wrap {
		margin: 0 -4px;
	}
	.item-wrap {
		padding: 0 4px;
		margin: 0;
		width: 33%;
		&:nth-child(3) {
			&~.item-wrap {
				display: none;
			}
		}
	}
}
.map-box {
	height: 760px;
	position: relative;
	overflow: hidden;
	background-color: #fff;
}
.gallery-slider-box {
	margin-bottom: 62px;
	.slider-outer-wrap {
		position: relative;
		overflow: hidden;
	}
	.slider-wrap {
		margin: 0 -8px;
	}
	.slick-track {
		margin-left: 0;
	}
	.sl-wrap {
		padding: 0 8px;
	}
	.slick-list {
		overflow: visible;
	}
	.elm-photo {
		border-radius: var(--main-radius);
		width: 257px;
		aspect-ratio: 257/200;
	}
	.slider-dots-lines .slick-dots {
		left: 8px;right: 8px;
	}
	.ico-arrow {
		position: absolute;
		top: 50%;left: 24px;
		margin-top: -20px;
	}
	.ico-arrow-next {
		left: auto;
		right: 24px;
	}
}
.article-photo-box {
	margin-bottom: 72px;
	.photo-inner-wrap {
		margin-top: 40px;
	}
	.elm-photo {
		border-radius: var(--main-radius);
	}
}
.partners-slider-box {
	margin-bottom: 40px;
	
	.tile-photo {
		aspect-ratio: 168/110;
		background: #fff;
		border: 10px solid #fff;
	}
	.btn.ico-arrow {
		position: absolute;
		width: 48px;height: 48px;
	}
	.ico-arrow {
		top: -84px;right: 8px;
		left: auto;
		margin: 0;
	}
	.ico-arrow-prev {
		margin: 0 52px 0 0;
	}
}
.catalog-slider-box {
	margin-bottom: 48px;
	position: relative;
	.slider:not(.slick-slider) {
		display: flex;
		flex-wrap: nowrap;
		.sl-wrap {
			width: 25%;
			flex-shrink: 0;
			&~.sl-wrap {
				display: block;
			}
		}
	}
	&:hover {
		z-index: 10;
	}
	.title-slider-wrap {
		padding: 0 120px 0 0;
		margin-bottom: 36px;
		&~.slider {
			.ico-arrow {
				width: 48px;height: 48px;
				top: -84px;right: 8px;
				left: auto;
				margin: 0;
			}
			.ico-arrow-prev {
				margin: 0 52px 0 0;
			}
		}
	}
	.slider-wrap {
		margin: 0 -4px;
		padding-bottom: 24px;
		&>.slider {

			&>.slick-dots {
				bottom: -24px;
			}
			&>.slick-list {
				overflow: visible;
				&>.slick-track {
					display: flex;
					&:before, &:after {
						display: none;
					}
					&>.slick-slide {
						min-height: 100%;
						float: none;
						height: auto;
						&>div {
							min-height: 100%;
							display: flex;
						}
					}
					.sl-wrap {
						display: block !important;
						width: 100%;
						min-height: 100%;
					}
					&>.slick-slide {
						transition: all ease 0.2s;
						&:not(.slick-active) {
							opacity: 0;
							pointer-events: none;
						}
					}
				}
			}
		}
	}
	.sl-wrap {
		padding: 0 4px;
	}
	.ico-arrow {
		position: absolute;
		top: 50%;left: 0;
		margin-top: -20px;
	}
	.ico-arrow-next {
		left: auto;
		right: 0;
	}
	.slick-track {
		
	}
	.list-tags-box {
		margin-bottom: 0;
	}
}

.list-tags-box {
	min-height: 48px;
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	.action-wrap {
		font-size: 14px;
		line-height: 20px;
		color: var(--clr-light);
		display: none;
		align-items: center;
		position: relative;
		z-index: 3;
		a {
			&:not(:hover) {
				color: inherit;
			}
		}
	}
	&.list-catalog {
		margin-bottom: 20px;
		flex-shrink: 0;
		.list {
			margin-right: -4px;
			li {
				padding-right: 4px;
			}
		}
		.btn {
			height: 32px;
			font-size: 16px;
			font-weight: 400;
			&:not(:hover,:active,.active) {
				background-color: var(--clr-base);
				border-color: var(--clr-base);
				color: #fff;
			}
		}
	}
	.list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -16px -8px 0;
		li {
			padding: 0 16px 0 0;
			margin: 4px 0;
			flex-shrink: 0;
		}
	}
}
.title-actions-box {
	margin-bottom: 24px;
	display: flex;
	.title-wrap {
		flex: 1;
	}
	.h2-title, .h1-title {
		&:last-child {
			margin-bottom: 0;
		}
	}
	.action-wrap {
		display: block;
		flex-shrink: 0;
		font-size: 18px;
		line-height: (26/18);
		font-weight: bold;
		padding-left: 20px;
	}
}
.tiles-column-box {
	margin-bottom: 48px;
	.items-wrap {
		margin: 0 -4px -8px -4px;
	}
	.item-wrap {
		padding: 0 4px;
		margin-bottom: 8px;
	}
}
.tiles-box {
	margin-bottom: 24px;
	.slider-wrap {
		margin: 0 -4px;
		padding-bottom: 24px;
	}
	.sl-wrap {
		padding: 0 4px;
	}
	.slick-track {
		display: flex;
		&:before, &:after {
			display: none;
		}
		.slick-slide {
			min-height: 100%;
			float: none;
			height: auto;
			&>div {
				min-height: 100%;
				display: flex;
			}
		}
		.sl-wrap {
			display: block !important;
			width: 100%;
			min-height: 100%;
		}
	}
	.ico-arrow {
		width: 40px;height: 40px;
		background: rgba(35, 45, 56, 0.28);
		border-radius: var(--main-radius);
		position: absolute;
		top: 50%;right: 4px;
		margin-top: -20px;
	}
	.ico-arrow-prev {
		right: auto;
		left: 4px;
	}
	.slick-disabled {
		display: none !important;
	}
	.slick-dots {
		padding: 0 4px;
		bottom: -24px;
	}
	.slider-dots-lines .slick-dots {
		bottom: -24px;
	}
	.slick-list {
		overflow: visible;
	}
}
.icons-tiles-box {
	margin-bottom: 48px;
	.items-wrap {
		margin: 0 -4px;
	}
	.item-wrap {
		padding: 0 4px;
	}
}
.main-tiles-box {
	margin-bottom: 40px;
	position: relative;
	.items-outer-wrap {
		display: none;
		width: 35rem;
		padding-left: 16px;
		flex-shrink: 0;
	}
	.slider-outer-wrap {
		position: relative;
		flex: 1;
	}
	.ico-arrow {
		position: absolute;
		bottom: 8.8rem;right: 6rem;
	}
	.ico-arrow-prev {
		margin-right: 60px;
	}
}
.items-slider-box {
	.slider-wrap {
		margin: 0;
	}
	.sl-wrap {
		padding: 0;
	}
	.slick-list {
		overflow: visible;
	}
	.slick-slide {
		transition: all ease 0.2s;
		&:not(.slick-active) {
			opacity: 0;
			pointer-events: none;
		}
	}
	.btn-action-ico {
		&.ico-arrow {
			position: absolute;
			bottom: 15px;right: 15px;
			z-index: 10;
			&.ico-arrow-prev {
				margin-right: 45px;
			}
			&.btn {
				width: 42px;height: 42px;
			}
		}
	}
}
.popup-cart-box {
	.preview-title-inner-wrap {
		display: none;
		width: 100%;
		flex-shrink: 0;
		.popup-subtitle {
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 16px;
			&.title-large {
				font-size: 3.6rem;
				line-height: (42/36);
				margin-bottom: 16px;
			}
		}
	}
	.features-inner-wrap {
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: 40px;
		position: relative;
		.scroll-inner-wrap {
			padding-right: 18px;
			max-height: 300px;
			overflow-y: auto;
			overflow-x: hidden;
			&::-webkit-scrollbar {
				height: 4px;
				width: 4px;
				border-radius: 2px;
				background-color: var(--clr-base-100);
			}
			&::-webkit-scrollbar-thumb {
				background-color: var(--clr-att);
				border-radius: 2px;
			}
			&::-webkit-scrollbar-thumb:hover {
				background-color: var(--clr-att);
			}
			&::-webkit-scrollbar-button:vertical:start:decrement {
				background-color: transparent;
				width: 0;
				height: 0;
			}
			&::-webkit-scrollbar-button:vertical:end:increment {
				background-color: transparent;
				width: 0;
				height: 0;
			}
			&::-webkit-scrollbar-button:horizontal:start:decrement {
				background-color: transparent;
				width: 0;
				height: 0;
			}
			&::-webkit-scrollbar-button:horizontal:end:increment {
				background-color: transparent;
				width: 0;
				height: 0;
			}
		}
		.elm-row {
			margin-bottom: 12px;
			font-size: 1em;
			line-height: inherit;
			.row-value {
				font-weight: 500;
				color: var(--clr-base);
			}
		}
	}
	.catalog-box {
		margin-bottom: 0;
		.item-wrap {
			width: 50%;
		}
		.item-wrap.tab-item-slider {
			&:not(.active) {
				width: calc(50% - 16px);
			}
		}
	}
	.popup-cart-content-wrap {
		.popup-subtitle {
			font-size: 18px;
			line-height: 26px;
			margin: 0 0 3.2rem 0;
		}
		.list-tags-box {
			margin: 0 0 2.8rem 0;
			margin-top: -0.8rem;
			.btn.button-tag {
				&:not(:hover, .active, :active) {
					background-color: var(--clr-base-300);
					border-color: var(--clr-base-300);
				}
			}
		}
	}
	.popup-services-wrap {
		.popup-subtitle {
			font-size: 18px;
			font-weight: 700;
			margin: 0 0 16px 0;
			line-height: 26px;
		}
		.items-wrap {
			margin: 0;
		}
		.item-wrap {
			padding: 0;
			margin: 0 0 8px 0;
			width: 100%;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.info-items-wrap {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -16px -16px 0;
		.info-wrap {
			width: 33.33%;
			max-width: 200px;
			padding: 0 16px 0 0;
			margin-bottom: 16px;
			flex-shrink: 0;
		}
		.info-title {
			display: block;
			font-size: 14px;
			line-height: 20px;
			color: var(--clr-light);
			font-weight: 400;
			margin: 0;
		}
		.info-value {
			display: block;
			font-size: 18px;
			line-height: 26px;
			font-weight: bold;
		}
	}
	.photo-inner-wrap {
		margin-bottom: 16px;
		.photos-gallery-box {
			margin-bottom: 0;
		}
	}
	.info-total-wrap {
		display: flex;
		align-items: center;
		font-size: 14px;
		line-height: 20px;
		color: var(--clr-light);
		font-weight: 400;
		.info-total-title-wrap {
			flex: 1;
			padding: 0 15px 0 0;
		}
		.info-total {
			flex-shrink: 0;
		}
		.info-total-tite {
			font-size: 18px;
			line-height: 26px;
			margin: 0;
			font-weight: bold;
			color: var(--clr-base);
		}
		.elm-price {
			flex-shrink: 0;
			font-size: 36px;
			line-height: 42px;
			font-weight: bold;
			color: var(--clr-base);
		}
	}
	.info-select-wrap, .info-select-toggle-wrap {
		display: inline-flex;
		vertical-align: top;
		flex-wrap: wrap;
		margin: 0 -4px 0 0;
		padding: 0 8px 0 0;
		&:last-child {
			margin-right: -4px;
			padding-right: 0;
		}
		.frm-select-toggle {
			margin: 0 3.6rem 4px 0;
			flex-shrink: 0;
		}
	}
	.info-select-toggle-wrap {
		margin-right: -40px;
		&:last-child {
			margin-right: -40px;
		}
	}
	.info-counter-wrap {
		display: inline-block;
		vertical-align: top;
		width: 130px;
		.counter-info {
			font-size: 14px;
			line-height: 20px;
			margin-top: 8px;
			color: var(--clr-light);
		}
		.frm-field-counter {
			.form-input {
				padding: 0 42px;
			}
			.field-counter-button {
				width: 42px;
			}
		}
	}
	.info-item-wrap {
		display: flex;
		align-items: flex-start;
		font-size: 14px;
		line-height: 20px;
		color: var(--clr-light);
		margin-bottom: 16px;
		&:last-child {
			margin-bottom: 0;
		}
		.info-item-title-wrap {
			flex: 1;
			padding: 0 16px 0 0;
		}
		.info-item-price-wrap {
			flex-shrink: 0;
			display: block;
			min-width: 90px;
		}
		.info-item-price-value,
		.info-item-title {
			display: block;
			font-size: 16px;
			line-height: 22px;
			font-weight: bold;
			color: var(--clr-base);
		}
		.info-item-price-value {
			font-size: 18px;
			line-height: 26px;
		}
		a {
			&:not(:hover) {
				color: inherit;
			}
		}
	}
	.frm-select-button {
		display: block;
		margin: 0 4px 4px 0;
	}
}
.popup-info-box {
	.map-inner-wrap {
		height: 220px;
		margin-bottom: 24px;
	}
	.action-inner-wrap {
		margin-bottom: 24px;
		.btn {
			width: 100%;
			height: 36px;
			font-size: 14px;
			font-weight: 400;
		}
	}
	.h2-title {
		margin: 24px 0 16px 0;
		&:first-child {
			margin-top: 0;
		}
	}
	.h3-title {
		margin: 8px 0;
		&:first-child {
			margin-top: 0;
		}
	}
	p, ul {
		margin-bottom: 8px;
	}
}

body.popup-open {
	overflow: hidden;
}
.popup-outer-box {
	display: none;
	flex-direction: column;
	padding: 52px 15px;
	animation: fadein ease 0.2s;
	align-items: center;
	justify-content: center;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 100;
	background: rgba(35, 45, 56, 0.88);
	backdrop-filter: blur(3.0999999046325684px);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	&.popup-slider-include {
		&:not(.active) {
			display: block;
			position: fixed;
			top: 0;left: 0;right: 0;bottom: auto;
			padding: 0;
			height: 0;
			overflow: hidden;
			pointer-events: none;
			z-index: -100;
			opacity: 0;
		}
	}
	&.active {
		display: flex;
	}
}
.popup-box {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
	width: 600px;
	max-width: 100%;
	max-height: 100%;
	background-color: #fff;
	z-index: 20;
	padding: 16px;
	border-radius: var(--main-radius);
	.popup-title-wrap, .popup-footer-wrap {
		width: 100%;
		flex-shrink: 0;
	}
	.popup-title-wrap {
		padding-bottom: 12px;
	}
	.popup-footer-wrap {
		padding-top: 12px;
		.btn {
			width: 100%;
			height: 52px;
			font-size: 16px;
			font-weight: bold;
			.button-ico {
				width: 16px;height: 16px;
				margin-right: 8px;
			}
			&.button-gray-light {
				&:not(:hover) {
					color: var(--clr-light);
					.button-ico {
						filter: none;
						opacity: 0.4;
					}
				}
			}
		}
	}
	.popup-title-wrap {
		&+.popup-content-wrap {
			padding-top: 12px;
		}
	}
	.popup-content-wrap {
		width: 100%;
		padding: 8px 0 12px 0;
		overflow-y: auto;
		overflow-x: hidden;
		scrollbar-width: none;
		-ms-overflow-style: none;
		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
		&:last-child {
			padding-bottom: 8px;
		}
		&:first-child {
			padding-top: 0;
		}
	}
	.popup-title {
		font-size: 21px;
		line-height: 28px;
		font-weight: bold;
		margin: 0;
	}
	.btn-action-ico {
		&.ico-close {
			position: absolute;
			top: 6px;
			right: 0;
			z-index: 2;
			width: 48px;height: 48px;
			&:before {
				background-size: 16px auto;
			}
		}
	}
	.popup-subtitle {
		font-size: 14px;
		line-height: 20px;
		font-weight: bold;
		margin-bottom: 12px;
		margin-top: 0;
		&.title-large {
			font-size: 16px;
			line-height: 22px;
		}
		&.title-att {
			color: var(--clr-att);
		}
		&.title-light {
			color: var(--clr-light);
		}
	}
	.popup-phone-action {
		font-size: 14px;
		line-height: 20px;
		font-weight: bold;
		margin-bottom: 4px;
		a {
			&:not(:hover) {
				color: inherit;
			}
		}
	}

	.popup-phone {
		font-size: 18px;
		line-height: 26px;
		font-weight: bold;
		margin-bottom: 4px;
		a {
			&:not(:hover) {
				color: inherit;
			}
		}
	}
	.popup-section-actions-wrap {
		
	}
	.popup-section-subinfo-wrap {
		text-align: center;
		.popup-subtitle {
			margin-bottom: 4px;
		}
	}
	.popup-section-wrap {
		border-bottom: 1px solid var(--clr-base-100);
		padding-bottom: 16px;
		margin-bottom: 16px;
		&:last-child {
			margin-bottom: 0;
		}
		.menu {
			font-size: 16px;
			line-height: 24px;
			color: var(--clr-light);
			a {
				display: block;
				padding: 4px 0;
				&:not(:hover) {
					color: inherit;
				}
			}
		}
		&.section-no-border {
			border-bottom: none;
			padding-bottom: 0;
		}
		.button-action-wrap {
			margin-bottom: 4px;
			&:last-child {
				margin-bottom: 0;
			}
			.btn {
				width: 100%;
				height: 52px;
				.button-ico {
					width: 20px;height: 20px;
				}
				.button-title {
					white-space: normal;
					line-height: 1.1;
				}
			}
		}
	}
	.popup-section-desc {
		display: block;
		margin: 12px 0;
		color: var(--clr-light);
		font-size: 14px;
		line-height: 20px;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	.item-tile-cart {
		margin-bottom: 16px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.preview-box {
	.popup-section-wrap {
		margin-bottom: 24px;
		padding: 0;
		border-bottom: none;
		&.section-row {
			display: flex;
			align-items: center;
			.popup-subtitle {
				margin: 0 24px 0 0;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
		.popup-subtitle {
			font-size: 16px;
			line-height: 1.5;
			font-weight: 400;
			color: var(--clr-base);
			margin: 0 0 8px 0;
			&.title-light {
				color: var(--clr-light);
			}
			&+.popup-price {
				margin-top: -8px;
			}
		}
		.popup-price {
			color: var(--clr-base-700);
			font-size: 42px;
			line-height: 48px;
			font-weight: bold;
		}
	}
	.info-content-wrap {
		border-radius: var(--main-radius);
		padding: 24px 3.2rem;
		background: var(--clr-base-100);
		margin-bottom: 8px;
	}
	.info-select-wrap, .info-select-toggle-wrap {
		
	}
	.info-counter-wrap {
		width: 180px;
		.counter-info {
			margin: 8px -20px 0 0;
		}
	}
	.popup-section-wrap.section-buttons {
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: none;
	}
	.frm-select-button {
		input {
			&:not(:checked) {
				&~label {
					color: var(--clr-base);
					background-color: #fff;
					border-color: #D9D9D9;
				}
			}
		}
	}
}
@media (max-width: 1199px) {
	.catalog-slider-box {
		.slider:not(.slick-slider) {
			display: flex;
			flex-wrap: nowrap;
			.sl-wrap {
				width: 33.33%;
				&~.sl-wrap {
					display: block;
				}
			}
		}
	}
}
@media (max-width: 1023px) {
	.filter-show {
		overflow: hidden;
		.filter-box {
			.js-btn-popup-toggle.active+.js-popup-block {
				display: flex !important;
			}
		}
	}
	.filter-box {
		margin: 0;
		padding: 0;
		top: auto !important;
		.filter-sections-wrap {
		}
		.filter-content-block {
			display: none;
			max-height: inherit !important;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 100;
			background: #fff;
			flex-direction: column;

		}
		.filter-sections-wrap {
			width: 100%;
			flex: 1;
			overflow-y: auto;
			overflow-x: hidden;
			scrollbar-width: none;
			-ms-overflow-style: none;
			&::-webkit-scrollbar {
				width: 0;
				height: 0;
			}
		}
		.filter-submit-wrap {
			width: 100%;
			flex-shrink: 0;
		}
		.btn-popup-close {
			display: block;
		}
	}
	.contacts-box {
		display: block;
		border-radius: var(--main-radius);
		background: var(--clr-base-700);
		padding: 16px;
		font-size: 18px;
		line-height: (26/18);
		margin-bottom: 24px;
		color: #fff;
		.info-inner-wrap {
			display: none;
		}
		.list-tags-box {
			margin-bottom: 16px;
			.list {
				margin-right: -8px;
				li {
					padding-right: 8px;
				}
			}
		}
		.title-inner-wrap {
			margin-bottom: 26px;
		}
		p {
			margin-bottom: 8px;
		}
		.text-small {
			font-size: 16px;
			line-height: 22px;
		}
		.phone-wrap, .email-wrap {
			margin-bottom: 8px;
			font-weight: bold;;
			a {
				&:not(:hover) {
					color: inherit;
				}
			}
		}
		.phone-number {
			font-size: 21px;
			line-height: 28px;
			margin-bottom: 4px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.action-wrap {
			padding-top: 6px;
			.btn {
				width: 100%;
			}
		}
		.info-wrap {
			margin-bottom: 24px;
			a {
				&:not(:hover) {
					color: inherit;
				}
			}
		}
		.btn {
			&.button-tag {
				height: 32px;
				padding: 0 8px;
				font-size: 16px;
				&:not(:hover, :active, .active) {
					background-color: var(--clr-base-900);
					border-color: var(--clr-base-900);
					color: var(--clr-light);
				}
			}
		}
	}
	.list-tags-box {
		.btn {
			&.button-tag {
				&.active {
					padding-right: 8px;
					.button-action-del {
						display: none;
					}
				}
			}
		}
	}
	.partners-slider-box {
		.slider {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -4px -12px -4px;
		}
		.sl-wrap {
			width: 20%;
			flex-shrink: 0;
			padding: 0 4px;
			margin-bottom: 12px;
			&~.sl-wrap {
				display: block;
			}
		}
	}
	.catalog-slider-box {
		
		.title-slider-wrap {
			margin-bottom: 24px;
			padding: 0;
		}
	}
	.list-tags-box {
		margin-bottom: 0;
		margin-left: calc(var(--paddingContainer) * -1);
		margin-right: calc(var(--paddingContainer) * -1);
		padding-left: var(--paddingContainer);
		overflow-x: auto;
		overflow-y: hidden;
		min-height: 0;
		display: block;
		scrollbar-width: none;
		-ms-overflow-style: none;
		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
		.list {
			margin: 0;
			flex-wrap: nowrap;
			li {
				padding: 0 16px 0 0;
				margin: 0;
				flex-shrink: 0;
			}
		}
	}
	.icons-tiles-box {
		.items-outer-wrap {
			margin-left: calc(var(--paddingContainer) * -1);
			margin-right: calc(var(--paddingContainer) * -1);
			padding-left: var(--paddingContainer);
			overflow-x: auto;
			overflow-y: hidden;
			scrollbar-width: none;
			-ms-overflow-style: none;
			&::-webkit-scrollbar {
				width: 0;
				height: 0;
			}
		}
		.items-wrap {
			flex-wrap: nowrap;
		}
		.item-wrap {
			width: 30dvw;
			min-width: 178px;
			flex-shrink: 0;
		}
	}
	.popup-cart-box .photo-inner-wrap .photos-gallery-box .btn-action-ico {
		display: none;
	}
	.popup-cart-box .photo-inner-wrap .photos-gallery-box .preview-inner-wrap {
		display: none;
	}
	.popup-cart-box .photo-inner-wrap .photos-gallery-box .main-inner-wrap .elm-photo {
		aspect-ratio: 302/92;
	}
}
@media (max-width: 767px) {
	.catalog-slider-box {
		.slider:not(.slick-slider) {
			display: flex;
			flex-wrap: nowrap;
			.sl-wrap {
				width: 50%;
				&~.sl-wrap {
					display: block;
				}
			}
		}
	}
	.delivery-info-box {
		.item-wrap {
			width: 50%;
			&:nth-child(2) {
				&~.item-wrap {
					display: none;
				}
			}
		}
	}
	.partners-slider-box {
		.sl-wrap {
			width: 25%;
		}
	}
}
@media (max-width: 479px) {
	.partners-slider-box {
		.sl-wrap {
			width: 50%;
		}
	}
}
@media (min-width: 768px) {
	.catalog-box {
		.item-wrap {
			width: 33.33%;
		}
	}
	.tiles-column-box {
		.item-wrap {
			width: 33.33%;
		}
	}
}
@media (min-width: 1024px) {
	.article-box {
		margin-bottom: 11rem;
		max-width: (780/16em);
	}
	.catalog-box {
		margin-bottom: 6rem;
		.items-wrap {
			margin: 0 -8px -32px -8px;
		}
		.item-wrap {
			width: 50%;
			padding: 0 8px;
			margin-bottom: 32px;
		}
	}
	.page-actions-box {
		margin: 5.7rem 0 0 0;
		.more-inner-wrap {
			display: none;
		}
		.pagenav-inner-wrap {
			display: flex;
		}
	}
	.catalog-actions-box {
		margin-bottom: 16px;
		flex-wrap: nowrap;
		align-items: flex-end;
		
		.filter-action-wrap {
			display: none;
		}
		.links-list-box {
			flex: 1;
			margin: 0;
		}
		.sort-inner-wrap {
			padding: 0 0 0 14px;
			margin: 0;
			width: 216px;
		}
	}
	.links-list-box {
		margin-bottom: 16px;
		.list-inner-wrap {
			overflow: visible;
		}
		.list {
			flex-wrap: wrap;
			white-space: normal;
		}
	}
	.filter-box {
		margin-bottom: 6rem;
		position: sticky;
		top: 0;
		margin-bottom: 20px;
		.filter-content-block {
			display: flex;
			flex-direction: column;
		}
		.filter-submit-wrap {
			width: 100%;
			flex-shrink: 0;
		}
		.filter-sections-wrap {
			width: 100%;
			flex: 1;
			overflow-y: auto;
			overflow-x: hidden;
			scrollbar-width: none;
			-ms-overflow-style: none;
			&::-webkit-scrollbar {
				width: 0;
				height: 0;
			}
		}
	}
	.catalog-outer-wrap {
		flex-direction: row;
		.catalog-box {
			&:not(:last-child) {
				margin-bottom: 22rem;
			}
		}
		.side-wrap {
			order: 1;
			width: 33.8rem;
		}
		.content-wrap {
			order: 2;
			flex: 1;
			max-width: calc(100% - 33.8rem);
			padding-left: 16px;
		}
	}
	.breadcrumbs-box {
		padding-top: 12px;
		padding-bottom: 16px;
	}
	.filter-fixed {
		.filter-box {
		}
		.list-tags-box {
			&.list-fixed-box {
				&:before {
					display: block;
				}
				.list {
				}
				.action-wrap {
					display: flex;
				}
			}
		}
	}
	.list-tags-box {
		display: flex;
		align-items: center;
		.list {
			flex: 1;
			margin-right: 0;
		}
		.action-wrap {
			display: flex;
			flex-shrink: 0;
		}
		&.list-fixed-box {
			position: sticky;
			top: 91px;
			left: 0;right: 0;
			z-index: 98;
			&:before {
				content: "";
				background: #fff;
				border-top: 1px solid var(--clr-base-300);
				border-bottom: 1px solid var(--clr-base-300);
				display: block;
				position: absolute;
				top: 0;bottom: 0;left: 50%;
				width: 100dvw;
				margin-left: -50dvw;
				display: none;
				animation: fadein ease 0.2s;
			}
		}
		&.list-catalog {
			padding: 8px 0;
			margin-bottom: 16px;
			.list {
				margin-bottom: 0;
				li {
					padding-right: 8px;
				}
			}
		}
	}
	.catalog-title-box {
		.title-wrap {
			width: auto;
			padding: 0 24px 0 0;
		}
		.title-info-wrap {
			flex: 1;
			padding-top: 6px;
		}
		.list-tags-box {
			padding-top: 6px;
			margin-bottom: 24px;
			.list {
				margin-right: -8px;
				li {
					padding-right: 8px;
				}
			}
		}
	}
	.delivery-info-box {
		margin-bottom: 6rem;
		.item-tile-catalog.tile-slider {
			padding-bottom: 24px;
			.tile-title-wrap {
				min-height: 110px;
			}
			.tile-subtitle {
				margin-bottom: 20px;
			}
			.tile-photo-wrap {
				.tile-photo {
					aspect-ratio: 1/1.02;
				}
			}
		}
		.box-inner-wrap {
			display: flex;
			margin: 0 -8px;
		}
		.catalog-items-wrap {
			width: 25%;
			padding: 0 8px;
			flex-shrink: 0;
			margin: 0;
		}
		.info-inner-wrap {
			width: 75%;
			padding: 0 0 0 8px;
			flex-shrink: 0;
			margin: 0;
			.slick-track {
				display: flex;
				&:before, &:after {
					display: none;
				}
				.slick-slide {
					min-height: 100%;
					float: none;
					height: auto;
					&>div {
						min-height: 100%;
						display: flex;
					}
				}
				.sl-wrap {
					display: block !important;
					width: 100%;
					min-height: 100%;
				}
			}
			.slider-wrap, .slider, .slick-list, .slick-track {
				min-height: 100%;
			}
			.slider-wrap {
				display: flex;
				.slider {
					width: 100%;
				}
			}
			.slick-list {
				display: flex;
			}
		}
		.sl-photo-wrap {
			.elm-photo {
				width: 697px;
				left: 30%;right: auto;
				bottom: auto;top: 30px;
			}
		}
		.sl-inner-wrap {
			min-height: 100%;
			display: flex;
			align-items: flex-end;
			padding: 6rem 6rem 12rem 6rem;
		}
		.sl-content-wrap {
			font-size: 16px;
			line-height: 1.5;
			color: #fff;
			p {
				padding-right: 0;
			}
		}
		.sl-title-wrap {
			max-width: (564/16em);
			min-height: 212px;
		}
		.sl-action-wrap {
			.btn {
				height: 56px;
				padding: 0 32px;
				font-size: 16px;
				font-weight: bold;;
			}
		}
		.sl-title {
			font-size: (42/16em);
			line-height: (48/42);
			margin: 0 0 16px 0;
		}
		.item-wrap {
			width: 100%;
			display: none;
			&:first-child {
				display: block;
			}
		}
		.slider-wrap {
			.ico-arrow {
				width: 56px;height: 56px;
				bottom: 12rem;
				right: 44px;
				&.btn {
					&:not(:hover, :active) {
						background-color: transparent;
						border-color: transparent;
					}
				}
			}
			.ico-arrow-prev {
				margin-right: 64px;
			}
		}
	}
	.contacts-box {
		margin-bottom: 5.5rem;
		.box-inner-wrap {
			display: flex;
			justify-content: space-between;
		}
		.info-inner-wrap {
			flex: 1;
			padding: 0 4rem 0 0;
			max-width: (650/16em);
			.h2-title {
				font-size: 21px;
				line-height: (28/21);
				margin: 32px 0 24px 0;
				&:first-child {
					margin-top: 0;
				}
			}
			.h3-title {
				margin: 24px 0 16px 0;
				&:first-child {
					margin-top: 0;
				}
			}
		}
		.contacts-inner-wrap {
			width: 49.5%;
			flex-shrink: 0;
			border-radius: var(--main-radius);
			background: var(--clr-base-700);
			color: #fff;
			position: relative;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 18px;
			line-height: (26/18);
			padding: 6rem;
		}
		.contacts-content-wrap {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: (456/18em);
			margin: 0 auto;
			flex-shrink: 0;
			a {
				&:not(:hover) {
					color: inherit;
				}
			}
			p {
				margin-bottom: 4px;
			}
			.text-small {
				font-size: (16/18em);
				line-height: (22/16);
			}
		}
		.action-wrap {
			width: 100%;
			order: 4;
			margin-top: 4.2rem;
			.btn {
				min-width: 247px;
			}
		}
		.phone-wrap {
			order: 1;
			width: 100%;
			margin-bottom: 24px;
			font-size: 2em;
			font-weight: bold;
			line-height: (42/36);
		}
		.email-wrap {
			font-size: (21/18em);
			line-height: (28/21);
			font-weight: 400;
			margin-bottom: 24px;
			order: 2;
			display: block;
			width: 100%;
		}
		.phone-number {
			margin-bottom: 8px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.info-wrap {
			width: 100%;
			order: 3;
		}
	}
	.gallery-slider-box {
		margin-bottom: 20.5rem;
		.slider-outer-wrap {
			overflow: visible;
		}
		.slick-list {
			overflow: hidden;
		}
		.elm-photo {
			width: 100%;
		}
	}
	.article-photo-box {
		margin-bottom: 6rem;
		display: flex;
		justify-content: space-between;
		.info-inner-wrap {
			flex: 1;
			max-width: (780/16em);
		}
		.photo-inner-wrap {
			width: 38%;
			padding-left: 5rem;
			padding-right: 3rem;
			flex-shrink: 0;
			margin: 0;
		}
	}
	

	.partners-slider-box {
		margin-bottom: 6rem;
		.slider:not(.slick-slider) {
			display: flex;
			flex-wrap: nowrap;
			.sl-wrap {
				width: 25%;
				&~.sl-wrap {
					display: block;
				}
			}
		}
		.tile-photo {
			aspect-ratio: 204/132;
		}
		.slider-wrap {
			margin: 0 -8px;
			padding: 0;
		}
		.sl-wrap {
			padding: 0 8px;
		}
	}
	.catalog-slider-box {
		margin-bottom: 6rem;
		.slider-wrap {
			padding-bottom: 0;
			margin: 0 -8px;
		}
		.sl-wrap {
			padding: 0 8px;
		}
	}
	.list-tags-box {
		margin-bottom: 40px;
	}
	.title-actions-box {
		display: flex;
		margin-bottom: 36px;
		.title-wrap {
			flex: 1;
		}
		.action-wrap {
			display: block;
		}
	}
	.tiles-box {
		margin-bottom: 6.8rem;
		.slider {
			margin: 0 -8px -16px -8px;
			display: flex;
			flex-wrap: wrap;
		}
		.sl-wrap {
			padding: 0 8px;
			margin-bottom: 16px;
			width: 25%;
			flex-shrink: 0;
			&~.sl-wrap {
				display: block;
			}
		}
		.slider-wrap {
			padding-bottom: 0;
		}
		@supports (display: grid) {
			.slider {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}
			.sl-wrap {
				width: 100%;
			}
			.wrap-w2 {
				grid-column: span 2;
			}
			.wrap-h2 {
				grid-row: span 2;
			}
		}
	}
	.icons-tiles-box {
		margin-bottom: 6.8rem;
		.items-outer-wrap {
			border-radius: var(--main-radius);
			background: #fff;
			padding: 12px 20px;
		}
		.items-wrap {
			margin: 0 -10px;
			justify-content: space-between;
			align-items: center;
			&:before, &:after {
				content: "";
				display: block;
				position: absolute;
				top: 50%;left: 25%;
				height: 64px;
				margin-top: -32px;
				border-left: 1px dashed var(--clr-border);
				border-right: 1px dashed var(--clr-border);
				width: 50%;
			}
			&:after {
				width: 1px;
				border-left: none;
				left: 50%;
			}
		}
		.item-wrap {
			padding: 0 10px;
			width: 25%;
			max-width: 326px;
		}
	}
	.main-tiles-box {
		margin-bottom: 32px;
		display: flex;
		.slider-wrap {
			padding-bottom: 0;
		}
		.slider-outer-wrap {
			max-width: calc(100% - 35rem);
		}
		.items-outer-wrap {
			display: block;
		}
	}
	.items-slider-box {
		.slider:has(.ico-arrow:hover) {
			.slick-active {
				.item-tile-catalog {
					&.tile-slider {
						filter: drop-shadow(0 13px 51px rgba(0, 0, 0, 0.25));
						border-bottom-right-radius: 0;
						border-bottom-left-radius: 0;
						transition-delay: 0.02s;
						box-shadow: none;
						z-index: 3;
						.tile-features-wrap, .tile-colors-wrap {
							display: block;
							animation-delay: 1s;
						}
						.tile-button-action {
							display: block;
						}
					}
				}
			}
		}
	}
	.section-border {
		padding-bottom: 6.8rem;
		margin-bottom: 6.8rem;
		border-bottom: 1px solid var(--clr-border);
	}
	.popup-close-light .popup-box.popup-add-cart .btn-action-ico.ico-close,
	.popup-close-light .popup-box.popup-preview .btn-action-ico.ico-close {
		top: 0;right: 0;
		width: 60px;height: 60px;
		z-index: 10;
		&:before, &:after {
			background-size: 24px auto;
			opacity: 0.3;
			filter: none;
		}
	}
	.popup-box {
		&.popup-preview {
			width: 1404px;
			padding: 0;
			.popup-content-wrap {
				padding: 4rem;
			}
		}
		&.popup-add-cart {
			width: 936px;
			padding: 0;
			.popup-content-wrap {
				padding: 24px;
			}
		}
		&.popup-added-cart {
			width: 1244px;
			padding: 0;
			border-radius: 0;
			.popup-footer-wrap {
				display: none;
			}
			.popup-content-wrap {
				padding: 0;
			}
			.btn-action-ico.ico-close {
				top: 20px;right: 20px;
				&:before, &:after {
					background-size: 24px auto;
					opacity: 0.3;
				}
			}
		}
	}
	.preview-box {
		display: flex;
		flex-wrap: wrap;
		.preview-title-inner-wrap {
			display: block;
		}
		.photo-inner-wrap {
			width: 35%;
			margin: 0;
			padding: 0;
			flex-shrink: 0;
		}
		.features-inner-wrap {
			width: 33%;
			flex-shrink: 0;
			padding-left: 20px;
			margin: 0;
			max-height: 100%;
			.scroll-inner-wrap {
				max-height: inherit;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 20px;
				right: 0;
			}
		}
		.info-inner-wrap {
			width: 32%;
			flex-shrink: 0;
			padding: 0 0 0 3rem;
			margin: 0;
		}
		.section-buttons {
			margin: 0 -4px;
			display: flex;
			.button-action-wrap {
				padding: 0 4px;
				margin: 0;
				width: 50%;
				flex-shrink: 0;
				.btn {
					width: 100%;
					padding: 0 5px;
					.button-title {
						white-space: normal;
						line-height: 1.1;
					}
				}
			}
		}
	}
	.cart-add-box {
		display: flex;
		.popup-section-wrap {
			margin-bottom: 24px;
		}
		.popup-section-subinfo-wrap {
			display: flex;
			align-items: center;
			font-size: 14px;
			line-height: 20px;
			.subinfo-section {
				flex-shrink: 0;
				max-width: 50%;
				margin: 0;
				padding: 0;
				text-align: right;
				&:first-child {
					text-align: left;
					flex: 1;
					max-width: inherit;
					padding: 0 10px 0 0;
				}
			}
			.popup-phone {
				margin: 0;
				font-size: 18px;
				line-height: 26px;
			}
			.popup-subtitle {
				font-size: 1em;
				line-height: inherit;
				margin: 0 0 4px 0;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.section-buttons {
			display: flex;
			margin-left: -2px;
			margin-right: -2px;
			padding-bottom: 24px;
			.button-action-wrap {
				padding: 0 2px;
				margin: 0;
				width: 50%;
				.btn {
					padding-left: 5px;
					padding-right: 5px;
					.button-title {
						white-space: normal;
						line-height: 1.1;
					}
				}
			}
		}
		.photo-inner-wrap {
			margin: 0;
			width: 52%;
			padding: 0;
			flex-shrink: 0;
		}
		.info-inner-wrap {
			width: 48%;
			flex-shrink: 0;
			margin: 0;
			padding: 0 0 0 20px;
		}
		.popup-subtitle {
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 12px;
		}
		.popup-subtitle.title-large {
			font-size: 18px;
			line-height: 26px;
			margin-bottom: 4px;
		}
		.info-item-wrap {
			font-size: 16px;
			line-height: 1.5;
			padding-bottom: 6px;
			.info-item-price-title {
				font-size: 14px;
				line-height: 20px;
			}
			.info-item-title, .info-item-price-value {
				font-size: 26px;
				line-height: 32px;
				margin: 0;
			}
		}
	}
	.card-added-box {
		display: flex;
		.popup-cart-side-wrap {
			width: 39%;
			flex-shrink: 0;
			padding: 3.2rem;
		}
		.popup-cart-content-wrap {
			width: 61%;
			flex-shrink: 0;
			padding: 3.2rem;
			background: var(--clr-base-100);
		}
		.popup-section-wrap {
			.button-action-wrap {
				margin-bottom: 8px;
			}
			&.section-buttons {
				padding-bottom: 0;
				margin-bottom: 6.4rem;
				border-bottom: none;
			}
		}
		.popup-cart-product-wrap {
			margin: 0 0 16px 0;
			border-radius: var(--main-radius);
			background: var(--clr-base-100);
			padding: 16px;
			.item-tile-cart {
				padding: 0;
				margin-bottom: 0;
				.tile-photo-wrap {
					width: 88px;
				}
				.tile-title-wrap {
					padding-left: 16px;
					padding-bottom: 50px;
				}
				.tile-photo {
					width: 88px;height: 84px;
				}
				.tile-title {
					font-size: 18px;
					line-height: (26/18);
					margin: 0;
				}
			}
			.info-items-wrap {
				margin: -42px 0 -16px 0;
				padding: 0 16px 0 104px;
				.info-wrap {
					position: relative;
					margin-bottom: 16px;
					z-index: 2;
					width: auto;

				}
				.info-value {
					font-size: 16px;
					line-height: 22px;
				}
			}
		}
		.popup-subtitle {
			&.title-large {
				font-size: 2.6rem;
				line-height: (32/26);
				margin: 0 0 3.2rem 0;
			}
		}
	}
}
@media (min-width: 1024px) and (max-width: 1199px) {
	.preview-box {
		.features-inner-wrap {
			width: 65%;
		}
		.info-inner-wrap {
			padding: 0;
			width: 100%;
			margin-top: 40px;
		}
	}
}
@media (min-width: 1024px) and (max-width: 1399px) {
	.delivery-info-box {
		.sl-inner-wrap {
			padding-bottom: 6rem;
		}
		.slider-wrap {
			.ico-arrow {
				bottom: 5rem;
			}
		}
	}
	
}
@media (min-width: 1200px) {
	.catalog-box {
		.item-wrap {
			width: 33.33%;
		}
	}
}
@media (min-width: 1200px) and (max-width: 1399px) {
	.preview-box {
		.photo-inner-wrap {
			width: 27%;
		}
		.info-inner-wrap {
			width: 40%;
		}
	}
}