/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.item-tile-service {
	display: flex;
	align-items: center;
	position: relative;
	background: var(--clr-base-100);
	border-radius: var(--main-radius);
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	padding: 24px;
	.tile-ico {
		width: 44px;height: 44px;
		flex-shrink: 0;
	}
	.tile-info-wrap {
		flex: 1;
		padding-left: 20px;
	}
	.tile-title {
		display: block;
		font-size: 18px;
		line-height: 26px;
		font-weight: bold;
		color: var(--clr-base);
		margin: 0 0 8px 0;
		&:last-child {
			margin-bottom: 0;
		}
		a {
			&:not(:hover) {
				color: inherit;
			}
		}
	}
}
.item-tile-cart {
	display: flex;
	font-size: 14px;
	line-height: 20px;
	color: var(--clr-light);
	.tile-photo-wrap {
		width: 42px;
		flex-shrink: 0;
	}
	.tile-title-wrap {
		display: block;
		flex: 1;
		padding-left: 16px;
	}
	.tile-title {
		display: block;
		font-size: 16px;
		line-height: 22px;
		font-weight: bold;
		color: var(--clr-base);
	}
	.tile-photo {
		aspect-ratio: 1;
		border-radius: var(--main-radius);
	}
	&:hover {
		color: var(--clr-light);
	}
}
.item-tile-menu {
	display: block;
	position: relative;
	color: #fff;
	background: #000;
	border-radius: var(--main-radius);
	overflow: hidden;
	min-height: 100%;
	padding: 16px;
	&:hover {
		.tile-photo {
			img {
				transform: scale(1.03) translateZ(0);
			}
		}
	}
	.tile-title-wrap {
		display: block;
		position: relative;
		z-index: 2;
	}
	.tile-menu-wrap, .tile-action-wrap {
		display: none;
		position: relative;
	}
	&.tile-main {
		.tile-menu-wrap {
			.list {
				max-width: 400px;
				columns: 3;
				column-gap: 24px
			}
		}
	}
	.tile-menu-wrap {
		padding-top: 2rem;
		margin-bottom: 16px;
		a {
			position: relative;
			z-index: 7;
			color: #fff;
			&:hover {
				color: var(--clr-light);
			}
		}
		li {
			margin-bottom: 20px;
			page-break-inside: avoid;
			break-inside: avoid-column;
		}
	}
	.tile-action-wrap {
		font-size: 14px;
		line-height: 20px;
		color: var(--clr-light);
		a {
			position: relative;
			z-index: 7;
			&:not(.btn) {
				color: inherit;
				&:hover {
					color: #fff;
				}
			}
		}
		.btn {
			height: 52px;
			padding: 0 30px;
			.button-ico {
				margin-right: 0;
				width: 20px;height: 20px;
			}
		}
	}
	.tile-photo {
		aspect-ratio: inherit;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: linear-gradient(43deg, rgba(14, 29, 50, 0.53) 18.86%, rgba(26, 52, 89, 0.54) 84.94%);
		}
	}
	.tile-ico {
		width: 32px;height: 32px;
		margin-bottom: 40px;
	}
	.tile-title {
		display: block;
		font-size: 18px;
		line-height: 1;
		font-weight: bold;
		margin: 0;
	}
}
.item-tile-icon-info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	min-height: 100%;
	border-radius: var(--main-radius);
	background: #fff;
	line-height: (20/16);
	font-weight: bold;
	color: var(--clr-base);
	padding: 16px;
	.tile-ico {
		width: 36px;height: 36px;
		margin: 0 0 16px 0;
	}
}
.item-tile-expert {
	display: flex;
	flex-direction: column;
	color: #fff;
	border-radius: var(--main-radius);
	padding: 24px;
	min-height: 100%;
	position: relative;
	overflow: hidden;
	background: linear-gradient(27deg, #232D38 0.61%, #394B60 99.44%);
	.tile-title {
		font-size: 18px;
		line-height: (26/18);
		margin: 0 0 16px 0;
		font-weight: bold;
	}
	.tile-user {
		margin-bottom: 16px;
		display: flex;
		align-items: center;
	}
	.tile-ico {
		width: 48px;height: 52px;
		flex-shrink: 0;
	}
	.tile-user-title-wrap {
		display: block;
		flex: 1;
		padding: 0 0 0 16px;
		line-height: (22/16);
		font-weight: bold;
	}
	.tile-user-title {
		display: block;
		margin: 0 0 4px 0;
		font-size: 21px;
		line-height: (28/21);
	}
	.tile-phone-wrap {
		display: block;
		margin-bottom: 16px;
	}
	.tile-phone-title {
		display: block;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 8px;
		font-weight: 400;
	}
	.tile-phone-number {
		display: block;
		font-size: 26px;
		line-height: (32/26);
		font-weight: bold;
		margin-bottom: 8px;
		&:last-child {
			margin-bottom: 0;
		}
		a {
			&:not(:hover) {
				color: inherit;
			}
		}
	}
	.tile-email {
		display: block;
		margin-bottom: 8px;
		a {
			&:not(:hover) {
				color: inherit;
			}
		}
		&:last-child {
			margin-bottom: 0px;
		}
	}
	.btn {
		width: 100%;
	}
}
.item-tile-photo-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;;
	font-size: 13.665px;
	line-height: (22.36 / 13.665);
	padding: 30px 16px 26px 22px;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	min-height: 381px;
	border-radius: var(--main-radius);
	.tile-title-wrap {
		display: block;
		padding-bottom: 24px;
		min-height: 240px;
		max-width: (600/16em);
	}
	.tile-photo {
		aspect-ratio: inherit;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: linear-gradient(58deg, rgba(0, 0, 0, 0.65) 45.75%, rgba(59, 73, 87, 0.00) 97.97%);
		}
	}
	.tile-title {
		display: block;
		font-size: 36px;
		line-height: (42/36);
		font-weight: bold;
		margin: 0 0 6px 0;
		max-width: (530/42em);
	}
	.btn {
		height: 40px;
		border-radius: var(--main-radius);
		font-size: 14px;
		font-weight: 400;
		padding: 0 15px;
		.button-ico {
			width: 20px;height: 20px;
			margin-left: 12px;
			margin-right: 0;
		}
	}
}
.item-tile-refresh {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: var(--clr-base-100);
	border-radius: var(--main-radius);
	font-size: 26px;
	line-height: 1.23;
	color: var(--clr-light);
	transition: all ease 0.7s;
	font-weight: bold;
	position: relative;
	padding: 15px;
	min-height: 100%;
	text-align: center;
	height: 490px;
	&:hover {
		color: #fff;
		background-color: var(--clr-att);
		.tile-ico {
			filter: brightness(0) invert(1);
		}
	}
	.tile-title {
		margin-top: 58px;
		display: block;
		width: 100%;
	}
	.tile-ico {
		display: block;
		margin: 0 auto;
		transition: all ease 0.7s;
	}
}
.item-tile-catalog {
	display: flex;
	flex-direction: column;
	background: #fff;
	border-radius: var(--main-radius);
	min-height: 100%;
	position: relative;
	padding: 4px;
	transition: all ease 0.2s;
	&.tile-not-hover {
		
	}
	&.tile-slider {
		border: 1px solid var(--clr-att);
		.tile-sticker {
			border-top-left-radius: 2px;
		}
	}
	&.active {
		padding: 8px;
		box-shadow: 0 10px 25px 0 rgba(112, 16, 17, 0.22);
		z-index: 5;
		.tile-sticker {
			display: none;
		}
		.tile-title-wrap {
			flex: inherit;
			flex-shrink: 0;
		}
		.btn-action-ico {
			&.ico-compare, &.ico-fav {
				display: none;
			}
		}
	}
	.tile-button-action {
		position: absolute;
		bottom: 42px;left: 0;right: 0;
		text-align: center;
		display: none;
		animation: fadein ease 0.2s;
		.btn {
			z-index: 11;
			height: 46px;
			padding: 0 8px 0 9px;
			font-size: 16px;
			font-weight: bold;
			.button-ico {
				width: 16px;height: 16px;
				margin: 0 10px 0 0;
			}
		}
	}
	.tile-features-wrap, .tile-colors-wrap {
		padding-top: 10px;
		padding-bottom: 20px;
		flex: 1;
		display: none;
	}
	.list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -3px 0 0;
		li {
			padding: 0 3px 2px 0;
			flex-shrink: 0;
			width: 25%;
		}
		.tile-photo {
			aspect-ratio: inherit;
			height: 29px;
			border-radius: var(--main-radius);
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				border-radius: var(--main-radius);
				border: 4px solid var(--clr-att);
				opacity: 0;
				transition: all ease 0.2s;
			}
			&:hover {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	.tile-photo-wrap {
		position: relative;
		display: block;
		flex-shrink: 0;
	}
	.tile-price-wrap {
		display: block;
		align-items: center;
		flex-wrap: wrap;
		flex: 1;
		margin-bottom: 8px;
	}
	.tile-actions-wrap {
		display: block;
		padding-top: 5px;
	}
	.tile-buttons-wrap {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		height: 42px;
		.btn {
			width: 42px;height: 42px;
			padding: 0;
		}
	}
	.tile-button-cart {
		flex-shrink: 0;
		order: 2;
	}
	.tile-button-info {
		flex-shrink: 0;
		order: 1;
		.btn {
			background-color: var(--clr-base-100);
			&:before {
				content: "";
				display: block;
				width: 24px;
				height: 24px;
				position: absolute;
				background: url(../img/icons/menu-second.svg) center no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 7H21' stroke='%2312181F' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M3 12H12' stroke='%2312181F' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M3 17H17' stroke='%2312181F' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
				top: 50%;left: 50%;
				margin: -12px 0 0 -12px;
				background-size: 100% auto;
				opacity: 0.4;
				transition: all ease 0.2s;
			}
			&:hover, &:active {
				&:before {
					filter: brightness(0) invert(1);
					opacity: 1;
				}
			}
			&.active {
				background-color: var(--clr-base);
				&:before {
					background-image: url(../img/icons/close.svg);
					background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_76_5428)'%3E%3Cpath d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_76_5428'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
					filter: brightness(0) invert(1);
					opacity: 1;
				}
			}
		}
	}
	.tile-title-wrap {
		display: block;
		flex: 1;
		padding: 8px 0;
		position: relative;
		padding-right: 30px;
		min-height: 40px;
		.tile-ico {
			display: block;
			width: 22px;height: 16px;
			position: absolute;
			top: 13px;
			right: 2px;
		}
	}
	.tile-delivery-info-wrap {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px 12px 0;
		flex-shrink: 0;
	}
	.tile-price-count {
		font-size: 12px;
		line-height: 1.67;
		color: var(--clr-att);
		font-weight: bold;
	}
	.tile-delivery-info {
		display: flex;
		align-items: center;
		font-size: 14px;
		line-height: 1.43;
		color: var(--clr-att-third-700);
		margin-right: 10px;
		.tile-ico {
			width: 12px;height: 12px;
			margin: 0 4px 0 0;
			flex-shrink: 0;
		}
		&.info-att {
			color: var(--clr-att);
		}
	}
	.tile-slider-wrap {
		position: relative;
		padding-bottom: 6px;
		margin: 0 -1px;
	}
	.tile-slider { 
		position: relative;
		line-height: 0;
	}
	.tile-sl-wrap {
		display: block;
		padding: 0 1px;
	}
	.tile-title, .tile-subtitle {
		display: block;
		margin: 0 0 4px 0;
		&:last-child {
			margin-bottom: 0;
		}
		a {
			display: inline-block;
			&:not(:hover) {
				color: inherit;
			}
		}
	}
	.tile-title {
		font-size: 14px;
		line-height: 1.29;
		font-weight: bold;
		color: var(--clr-base);
	}
	.tile-subtitle {
		font-size: 12px;
		line-height: 1.08;
		font-weight: 400;
		color: var(--clr-light);
		&.title-att {
			color: var(--clr-att);
		}
	}
	.tile-price {
		&:not(.price-old) {
			font-size: 20px;
			font-weight: bold;
			line-height: 1;
			display: block;
			flex-shrink: 0;
			margin-right: 10px;
			color: var(--clr-att);
		}
		&.price-old {
			display: block;
			font-size: 14px;
		}
	}
	.tile-photo {
		aspect-ratio: 1;
		border-radius: var(--main-radius);
		//z-index: 3;
	}
	.tile-sticker {
		position: absolute;
		top: 4px;left: 4px;
		z-index: 4;
		pointer-events: none;
	}
	.btn-action-ico {
		&.ico-fav, &.ico-compare {
			background: rgba(18, 24, 31, 0.56);
			width: 32px;height: 32px;
			border-radius: var(--main-radius);
			position: absolute;
			top: 12px;
			right: 12px;
			z-index: 4;
			&:before {
				filter: brightness(0) invert(1);
				background-size: 20px auto;
			}
			&:after {
				background-size: 20px auto;
			}
			&:hover {
				background: rgba(18, 24, 31, 0.96);
				&:before {
					opacity: 1;
				}
				&:after {
					opacity: 0;
				}
			}
		}
		&.ico-compare {
			right: 48px;
		}
	}
	.slick-dots {
		position: absolute;
		bottom: -6px !important;left: 0;right: -1px;
		width: auto;
		padding: 4px 0 0 0;
	}
	.tile-features-wrap, .tile-colors-wrap {
		z-index: 5;
	}
}
.item-tile-info {
	display: block;
	position: relative;
	min-height: 100%;
	padding: 30px;
	color: var(--clr-base);
	font-weight: bold;
	border-radius: var(--main-radius);
	overflow: hidden;
	z-index: 2;
	&:hover {
		.tile-photo {
			img {
				transform: scale(1.03) translateZ(0);
			}
		}
	}
	&.tile-dark {
		background-color: var(--clr-base);
		color: #fff;
		.tile-action {
			color: var(--clr-light);
		}
	}
	&.tile-bg {
		background-color: var(--clr-base);
		color: #fff;
		.tile-action {
			color: var(--clr-light);
		}
		.tile-photo-icon {
			filter: brightness(0) invert(1);
		}
	}
	.tile-menu {
		font-size: 14px;
		line-height: 20px;
		color: var(--clr-base-300);
		margin-bottom: -8px;
		.list {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -8px 0 0;
			li {
				flex-shrink: 0;
				padding: 0 8px 8px 0;
				max-width: 100%;
			}
		}
		a {
			color: inherit;
			position: relative;
			z-index: 7;
			&:hover {
				color: #fff;
			}
		}
	}
	.tile-title {
		transition: color ease 0.2s;
		display: block;
		font-size: 18px;
		line-height: 1.33;
		margin: 0 0 16px 0;
	}
	.tile-action {
		color: var(--clr-base-300);
		display: block;
		font-size: 14px;
		line-height: 1.43;
		a {
			transition: all ease 0.2s;
			&:not(:hover) {
				color: inherit;
			}
		}
	}
	.tile-photo-icon {
		width: 44px;
		margin: 0 0 40px 0;
	}
	.tile-photo-bg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		aspect-ratio: inherit;
		z-index: -1;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: fade(#0E1D32, 53);
		}
	}
}
.item-tile-result {
	color: var(--clr-base);
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 1.37;
	font-weight: bold;
	&:hover {
		.tile-title {
			color: var(--clr-att);
		}
	}
	.tile-photo-wrap {
		width: 92px;
		flex-shrink: 0;
	}
	.tile-info-wrap {
		flex: 1;
		padding: 0 0 0 16px;
	}
	.tile-photo {
		border-radius: var(--main-radius);
		aspect-ratio: 1;
	}
	.tile-price-wrap {
		display: flex;
		margin: 0 -10px 0 0;
		flex-wrap: wrap;
	}
	.tile-title, .tile-price, .tile-subtitle {
		display: block;
		flex-shrink: 0;
	}
	.tile-price {}
	.tile-title {
		transition: color ease 0.2s;
		min-height: 2.5em;
	}
	.tile-subtitle {
		font-size: 14px;
		line-height: 1.43;
		color: var(--clr-att);
	}
	.tile-price {
		margin: 0 10px 0 0;
		&:not(.price-old) {
			color: var(--clr-att);
			font-size: 18px;
		}
	}
}
:is([class^="item-tile"]) {
    &:hover {
        .elm-photo, .tile-photo {
            img {
                //transform: scale(1.03) translateZ(0);
            }
        }
    }
}
.elm-photo, .tile-photo {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    line-height: 1;
    //transform: translateZ(0);
    &.photo-main {
        border: 1px solid #f00;
        width: 300px;
        height: 300px;
    }
    &:before {
        content: "";
        display: none;
        padding-top: 100%;
    }
    img {
        display: block;
        position: relative;
        width: 100%;
        transition: all ease-out 1s;
    }
    &.photo-cover {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &.photo-contain {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
}
@supports (aspect-ratio: 1) {
    .elm-photo, .tile-photo {
        &:not(.photo-cover, .photo-contain) {
            aspect-ratio: inherit !important;
        }
    }
    .photo-cover, .photo-contain {
        aspect-ratio: 1;
        &:before {
            display: none !important;
        }
    }
}
.elm-price, .tile-price {
    white-space: nowrap;
    &.price-old {
        text-decoration: line-through;
		color: var(--clr-light-second);
		font-weight: 400;
    }
}
[data-unit] {
    &:after {
        content: attr(data-unit);
        //font-family: 'Arial', 'Roboto', 'Open Sans', sans-serif;
    }
}
.elm-ico, .button-ico, .menu-ico, .frm-ico, .tab-ico, .tile-ico, .lbl-ico {
    display: block;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    img, [class*="icon-"], .i, svg {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
		max-height: 100%;
    }
}
.elm-overlay {
    display: none;
    animation: fadein ease 0.2s;
    background: fade(#000, 80);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 120;
    &.active {
        display: block;
    }
}
.elm-sticker, .tile-sticker {
	display: inline-block;
	vertical-align: middle;
	height: 28px;
	line-height: 28px;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	border-radius: var(--main-radius) 0 var(--main-radius) 0;
	background: var(--clr-att);
	padding: 0 8px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}
.elm-row, .tile-feature-row {
	display: flex;
	position: relative;
	align-items: flex-end;
	justify-content: space-between;
	font-size: 14px;
	line-height: 1.43;
	margin: 0 0 8px 0;
	&:last-child {
		margin-bottom: 0;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		bottom: 0.3em;
		left: 0;
		right: 0;
		height: 1px;
		border-top: 1px dashed var(--clr-base-300);
	}
	.row-title, .row-value {
		display: block;
		position: relative;
		z-index: 2;
		padding: 0 8px 0 0;
		background-color: #fff;
		max-width: 50%;
	}
	.row-value {
		padding: 0 0 0 8px;
		text-align: right;
		color: var(--clr-base);
	}
	.row-title {
		color: var(--clr-light);
	}
}
.elm-stock {
	display: inline-flex;
	align-items: center;
	.stock-item {
		width: 30px;height: 4px;
		border-radius: 2px;
		margin: 0 4px 0 0;
		flex-shrink: 0;
		background: #D9D9D9;
		&.active {
			background: var(--clr-att);
		}
	}
}
@media (max-width: 1023px) {
	.item-tile-info {
		padding: 32px 24px;
		.tile-photo-icon {
			width: 32px;height: 32px;
			margin-bottom: 40px;
		}
		.tile-title {
			font-size: 21px;;
			line-height: 24px;
			margin-bottom: 16px;
		}
	}
	.item-tile-catalog {
		&:not(.active) {

		}
		&.active {
			.tile-features-wrap {
				//display: block;
			}
		}
		.tile-features-wrap, .tile-colors-wrap {
			overflow-y: auto;
			overflow-x: hidden;
			scrollbar-width: none;
			-ms-overflow-style: none;
			&::-webkit-scrollbar {
				width: 0;
				height: 0;
			}
		}
	}
}
@media (max-width: 767px) {
	.item-tile-refresh {
		font-size: 18px;
		height: 300px;
	}
	.item-tile-catalog {
		&.tile-slider {
			.tile-actions-wrap {
				display: flex;
				align-items: center;
			}
			.tile-price-wrap {
				margin-bottom: 0;
			}
		}
	}
}
@media (min-width: 768px) {
	.item-tile-catalog {
		padding: 16px;
		&.active {
			padding: 16px;
		}
		.tile-delivery-info-wrap {
			margin-bottom: 0;
		}
		.tile-actions-wrap {
			display: flex;
			align-items: center;
		}
		.tile-price-wrap {
			margin-bottom: 0;
		}
		.tile-button-cart {
			order: 1;
		}
		.tile-button-info {
			order: 2;
			padding-left: 4px;
			.btn {
				&:before {
					background-image: url(../img/icons/arrow-main.svg);
					background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_76_5492)'%3E%3Cpath d='M8.58997 16.59L13.17 12L8.58997 7.41L9.99997 6L16 12L9.99997 18L8.58997 16.59Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_76_5492'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
					background-size: 24px auto;
					opacity: 1;
					transform: rotate(-90deg);
				}
				&.active {
					&:before {
						transform: rotate(90deg);
						background-image: url(../img/icons/arrow-main.svg);
						background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_76_5492)'%3E%3Cpath d='M8.58997 16.59L13.17 12L8.58997 7.41L9.99997 6L16 12L9.99997 18L8.58997 16.59Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_76_5492'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
						background-size: 24px auto;
					}
				}
			}
		}
		.tile-buttons-wrap {
			flex-shrink: 0;
		}
		.tile-title-wrap {
			padding: 12px 0 20px 0;
			min-height: 92px;
		}
		.tile-features-wrap, .tile-colors-wrap {
			padding-top: 0;
		}
		.tile-title {
			font-size: 18px;
			line-height: 1.44;
		}
		.tile-subtitle {
			font-size: 14px;
			line-height: 1.43;
		}
		.tile-photo {
			aspect-ratio: 260/240;
		}
		.tile-sticker {
			top: 0;
			left: 0;
		}
		.tile-delivery-info {
			margin-bottom: 6px;
		}
		.btn-action-ico {
			&.ico-fav, &.ico-compare {
				width: 40px;height: 40px;
				top: 28px;right: 33px;
				&:before, &:after {
					background-size: 32px auto;
				}
			}
			&.ico-compare {
				right: 78px;
			}
		}
	}
	.tile-sticker, .elm-sticker {
		height: 36px;
		line-height: 36px;
		padding: 0 20px;
		font-size: 14px;
	}
}
@media (min-width: 1024px) {
	.item-tile-menu {
		padding: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		&.tile-main {
			padding: 5rem;
			.tile-title-wrap {
				display: flex;
				align-items: center;
			}
			.tile-ico {
				margin: 0;
			}
			.tile-title {
				margin: 0;
				flex: 1;
				padding-left: 24px;
				font-size: 2.6rem;
				line-height: (32/26);
			}
		}
		.tile-link {
			//display: none;
		}
		.tile-title-wrap {
			margin-bottom: 16px;
		}
		.tile-action-wrap {
			display: block;
			margin-top: 0;
		}
		.tile-menu-wrap {
			display: block;
		}
		.tile-ico {
			width: 48px;height: 48px;
			margin-bottom: 4rem;
		}
		.tile-title {
			font-size: 21px;
			line-height: (28/21);
			margin: 0;
		}
	}
	.item-tile-icon-info {
		padding: 3rem 2.4rem;
		font-size: 18px;
		line-height: (26/18);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: stretch;
		.tile-ico {
			width: 44px;height: 44px;
			margin: 0;
			flex-shrink: 0;
		}
		.tile-title {
			padding-left: 2rem;
		}
	}
	.item-tile-expert {
		padding: 4.4rem 3.8rem;
		.tile-phone-wrap {
			flex: 1;
		}
		.tile-title {
			font-size: 26px;
			line-height: (32/26);
			margin-bottom: 3.6rem;
		}
		.tile-user {
			margin-bottom: 3.6rem;
		}
	}
	.item-tile-photo-info {
		min-height: 46rem;
		padding: 6rem;
		font-size: 16px;
		line-height: 1.5;
		.tile-title-wrap {
			min-height: 225px;
		}
		.tile-title {
			font-size: 42px;
			line-height: (48/42);
			margin-bottom: 8px;
		}
		.btn {
			height: 52px;
			padding: 0 32px;
			font-size: 16px;
			font-weight: bold;
		}
	}
	.item-tile-catalog {
		transition-delay: 0s;
		transition: none;
		z-index: inherit;
		&.tile-slider-buttons {
			.tile-slider-wrap, .tile-photo-wrap, .tile-slider {
				position: static;
			}
			.tile-slider-wrap {
				.ico-arrow {
					display: block !important;
				}
			}
			.slick-dots {
				display: none !important;
			}
		}
		.tile-slider-wrap {
			.ico-arrow {
				display: none !important;
			}
		}
		&.tile-slider {
			&:hover {
				border-bottom-color: #fff;
			}
		}
		.ico-arrow {
			position: absolute;
			bottom: 24px;right: 16px;
		}
		.ico-arrow-prev {
			margin-right: 44px;
		}
		&:hover {
			filter: drop-shadow(0 13px 51px rgba(0, 0, 0, 0.25));
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			transition-delay: 0.02s;
			box-shadow: none;
			transition: all ease 0.2s;
			z-index: 10;
			.tile-features-wrap, .tile-colors-wrap {
				display: block;
				//animation-delay: 1s;
			}
			.tile-button-action {
				display: block;
			}
		}
		&.tile-not-hover {
			.tile-features-wrap, .tile-colors-wrap {
				display: none;
				//animation-delay: 1s;
			}
			.tile-button-action {
				display: none;
			}
		}
		&:not(:hover) {
			.tile-features-wrap, .tile-colors-wrap {
				
			}
		}
		.tile-title-wrap {
			min-height: 40px;
			padding-bottom: 12px;
		}
		.tile-delivery-info-wrap {
			margin-bottom: 10px;
		}
		.tile-button-info {
			display: none;
		}
		.tile-features-wrap, .tile-colors-wrap {
			position: absolute;
			top: 100%;
			left: 0;right: 0;
			background: #fff;
			z-index: 10;
			animation: fadein ease 0.1s;
			padding: 0 15px 15px 15px;
			margin: 0;
		}
		.tile-colors-wrap {
			border: 1px solid var(--clr-att);
			border-top: none;
			left: -1px;right: -1px;
			border-bottom-left-radius: var(--main-radius);
			border-bottom-right-radius: var(--main-radius);
		}
		.tile-feature-row {
			font-size: 16px;
			line-height: 1.5;
		}
		.list {
			margin: 0 -5px 0 0;
			li {
				padding: 0 5px 4px 0;
				width: 20%;
			}
			.tile-photo {
				height: 38px;
			}
		}
	}
}
@media (min-width: 1024px) and (max-width: 1399px) {
	.item-tile-icon-info {
		font-size: 16px;
		padding-left: 16px;
		padding-right: 16px;
		.tile-ico {
			width: 32px;height: 32px;
		}
		.tile-title {
			padding-left: 16px;
		}
	}
	.item-tile-expert {
		padding: 24px;
	}
}