/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.item-tile-refresh {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: var(--clr-base-100);
	border-radius: var(--main-radius);
	font-size: 26px;
	line-height: 1.23;
	color: var(--clr-light);
	transition: all ease 0.7s;
	font-weight: bold;
	position: relative;
	padding: 15px;
	min-height: 100%;
	text-align: center;
	height: 490px;
	&:hover {
		color: #fff;
		background-color: var(--clr-att);
		.tile-ico {
			filter: brightness(0) invert(1);
		}
	}
	.tile-title {
		margin-top: 58px;
		display: block;
		width: 100%;
	}
	.tile-ico {
		display: block;
		margin: 0 auto;
		transition: all ease 0.7s;
	}
}
.item-tile-catalog {
	display: flex;
	flex-direction: column;
	background: #fff;
	border-radius: var(--main-radius);
	min-height: 100%;
	position: relative;
	padding: 4px;
	transition: all ease 0.2s;
	z-index: 3;
	&.tile-slider {
		border: 1px solid var(--clr-att);
		.tile-sticker {
			border-top-left-radius: 2px;
		}
	}
	&.active {
		padding: 8px;
		box-shadow: 0 10px 25px 0 rgba(112, 16, 17, 0.22);
		z-index: 5;
		.tile-sticker {
			display: none;
		}
		.tile-title-wrap {
			flex: inherit;
			flex-shrink: 0;
		}
		.btn-action-ico {
			&.ico-compare, &.ico-fav {
				display: none;
			}
		}
	}
	.tile-button-action {
		position: absolute;
		bottom: 42px;left: 0;right: 0;
		text-align: center;
		display: none;
		animation: fadein ease 0.2s;
		.btn {
			z-index: 11;
			height: 46px;
			padding: 0 8px 0 9px;
			font-size: 16px;
			font-weight: bold;
			.button-ico {
				width: 16px;height: 16px;
				margin: 0 10px 0 0;
			}
		}
	}
	.tile-features-wrap, .tile-colors-wrap {
		padding-top: 10px;
		padding-bottom: 20px;
		flex: 1;
		display: none;
	}
	.list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -3px 0 0;
		li {
			padding: 0 3px 2px 0;
			flex-shrink: 0;
			width: 25%;
		}
		.tile-photo {
			aspect-ratio: inherit;
			height: 29px;
			border-radius: 4px;
		}
	}
	.tile-photo-wrap {
		position: relative;
		display: block;
		flex-shrink: 0;
	}
	.tile-price-wrap {
		display: block;
		align-items: center;
		flex-wrap: wrap;
		flex: 1;
		margin-bottom: 8px;
	}
	.tile-actions-wrap {
		display: block;
	}
	.tile-buttons-wrap {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		height: 42px;
		.btn {
			width: 42px;height: 42px;
			padding: 0;
		}
	}
	.tile-button-cart {
		flex-shrink: 0;
		order: 2;
	}
	.tile-button-info {
		flex-shrink: 0;
		order: 1;
		.btn {
			background-color: var(--clr-base-100);
			&:before {
				content: "";
				display: block;
				width: 24px;
				height: 24px;
				position: absolute;
				background: url(../img/icons/menu-second.svg) center no-repeat;
				top: 50%;left: 50%;
				margin: -12px 0 0 -12px;
				background-size: 100% auto;
				opacity: 0.4;
				transition: all ease 0.2s;
			}
			&:hover, &:active {
				&:before {
					filter: brightness(0) invert(1);
					opacity: 1;
				}
			}
			&.active {
				background-color: var(--clr-base);
				&:before {
					background-image: url(../img/icons/close.svg);
					filter: brightness(0) invert(1);
					opacity: 1;
				}
			}
		}
	}
	.tile-title-wrap {
		display: block;
		flex: 1;
		padding: 8px 0;
		position: relative;
		padding-right: 30px;
		min-height: 40px;
		.tile-ico {
			display: block;
			width: 22px;height: 16px;
			position: absolute;
			top: 13px;
			right: 2px;
		}
	}
	.tile-delivery-info-wrap {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px 12px 0;
		flex-shrink: 0;
	}
	.tile-price-count {
		font-size: 12px;
		line-height: 1.67;
		color: var(--clr-att);
		font-weight: bold;
	}
	.tile-delivery-info {
		display: flex;
		align-items: center;
		font-size: 14px;
		line-height: 1.43;
		color: var(--clr-att-third-700);
		margin-right: 10px;
		.tile-ico {
			width: 12px;height: 12px;
			margin: 0 4px 0 0;
			flex-shrink: 0;
		}
		&.info-att {
			color: var(--clr-att);
		}
	}
	.tile-slider-wrap {
		position: relative;
		padding-bottom: 6px;
		margin: 0 -1px;
	}
	.tile-slider { 
		position: relative;
		line-height: 0;
	}
	.tile-sl-wrap {
		display: block;
		padding: 0 1px;
	}
	.tile-title, .tile-subtitle {
		display: block;
		margin: 0 0 4px 0;
		&:last-child {
			margin-bottom: 0;
		}
		a {
			display: inline-block;
			&:not(:hover) {
				color: inherit;
			}
		}
	}
	.tile-title {
		font-size: 14px;
		line-height: 1.29;
		font-weight: bold;
		color: var(--clr-base);
	}
	.tile-subtitle {
		font-size: 12px;
		line-height: 1.08;
		font-weight: 400;
		color: var(--clr-light);
		&.title-att {
			color: var(--clr-att);
		}
	}
	.tile-price {
		&:not(.price-old) {
			font-size: 20px;
			font-weight: bold;
			line-height: 0.8;
			display: block;
			flex-shrink: 0;
			margin-right: 10px;
			color: var(--clr-att);
		}
		&.price-old {
			display: block;
			font-size: 14px;
		}
	}
	.tile-photo {
		aspect-ratio: 1;
		border-radius: var(--main-radius);
		z-index: 3;
	}
	.tile-sticker {
		position: absolute;
		top: 4px;left: 4px;
		z-index: 4;
		pointer-events: none;
	}
	.btn-action-ico {
		&.ico-fav, &.ico-compare {
			background: rgba(18, 24, 31, 0.56);
			width: 32px;height: 32px;
			border-radius: var(--main-radius);
			position: absolute;
			top: 12px;
			right: 12px;
			z-index: 4;
			&:before {
				filter: brightness(0) invert(1);
				background-size: 20px auto;
			}
			&:after {
				background-size: 20px auto;
			}
			&:hover {
				background: rgba(18, 24, 31, 0.96);
				&:before {
					opacity: 1;
				}
				&:after {
					opacity: 0;
				}
			}
		}
		&.ico-compare {
			right: 48px;
		}
	}
	.slick-dots {
		position: absolute;
		bottom: -6px;left: 0;right: -1px;
		width: auto;
		padding: 4px 0 0 0;
		display: flex;
		flex-wrap: nowrap;
		li {
			padding: 0 1px 0 0;
			flex: 1;
			width: auto;
			margin: 0;
			button {
				margin: 0;
				padding: 0;
				height: 2px;
				width: 100%;
				border-radius: 1px;
				border: none;
				background: var(--clr-base-300);
				&:hover {
					background: var(--clr-base-300);
				}
			}
			&.slick-active {
				button {
					background: var(--clr-att);
				}
			}
		}
	}
}
.item-tile-info {
	display: block;
	position: relative;
	min-height: 100%;
	padding: 30px;
	color: var(--clr-base);
	font-weight: bold;
	border-radius: var(--main-radius);
	overflow: hidden;
	z-index: 2;
	&:hover {
		.tile-title {
			//color: var(--clr-att);
		}
	}
	&.tile-dark {
		background-color: var(--clr-base);
		color: #fff;
		.tile-action {
			color: var(--clr-light);
		}
	}
	&.tile-bg {
		background-color: var(--clr-base);
		color: #fff;
		.tile-action {
			color: var(--clr-light);
		}
		.tile-photo-icon {
			filter: brightness(0) invert(1);
		}
	}
	.tile-title {
		transition: color ease 0.2s;
		display: block;
		font-size: 18px;
		line-height: 1.33;
		margin: 0 0 16px 0;
	}
	.tile-action {
		color: var(--clr-base-300);
		display: block;
		font-size: 14px;
		line-height: 1.43;
		a {
			transition: all ease 0.2s;
			&:not(:hover) {
				color: inherit;
			}
		}
	}
	.tile-photo-icon {
		width: 44px;
		margin: 0 0 40px 0;
	}
	.tile-photo-bg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		aspect-ratio: inherit;
		z-index: -1;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: fade(#0E1D32, 53);
		}
	}
}
.item-tile-result {
	color: var(--clr-base);
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 1.37;
	font-weight: bold;
	&:hover {
		.tile-title {
			color: var(--clr-att);
		}
	}
	.tile-photo-wrap {
		width: 92px;
		flex-shrink: 0;
	}
	.tile-info-wrap {
		flex: 1;
		padding: 0 0 0 16px;
	}
	.tile-photo {
		border-radius: var(--main-radius);
		aspect-ratio: 1;
	}
	.tile-price-wrap {
		display: flex;
		margin: 0 -10px 0 0;
		flex-wrap: wrap;
	}
	.tile-title, .tile-price, .tile-subtitle {
		display: block;
		flex-shrink: 0;
	}
	.tile-price {}
	.tile-title {
		transition: color ease 0.2s;
		min-height: 2.5em;
	}
	.tile-subtitle {
		font-size: 14px;
		line-height: 1.43;
		color: var(--clr-att);
	}
	.tile-price {
		margin: 0 10px 0 0;
		&:not(.price-old) {
			color: var(--clr-att);
			font-size: 18px;
		}
	}
}
:is([class^="item-tile"]) {
    &:hover {
        .elm-photo, .tile-photo {
            img {
                transform: scale(1.03);
            }
        }
    }
}
.elm-photo, .tile-photo {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    line-height: 1;
    //transform: translateZ(0);
    &.photo-main {
        border: 1px solid #f00;
        width: 300px;
        height: 300px;
    }
    &:before {
        content: "";
        display: none;
        padding-top: 100%;
    }
    img {
        display: block;
        position: relative;
        width: 100%;
        transition: all ease-out 1s;
    }
    &.photo-cover {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &.photo-contain {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
}
@supports (aspect-ratio: 1) {
    .elm-photo, .tile-photo {
        &:not(.photo-cover, .photo-contain) {
            aspect-ratio: inherit !important;
        }
    }
    .photo-cover, .photo-contain {
        aspect-ratio: 1;
        &:before {
            display: none !important;
        }
    }
}
.elm-price, .tile-price {
    white-space: nowrap;
    &.price-old {
        text-decoration: line-through;
		color: var(--clr-light-second);
		font-weight: 400;
    }
}
[data-unit] {
    &:after {
        content: attr(data-unit);
        font-family: 'Arial', 'Roboto', 'Open Sans', sans-serif;
    }
}
.elm-ico, .button-ico, .menu-ico, .frm-ico, .tab-ico, .tile-ico, .lbl-ico {
    display: block;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    img, [class*="icon-"], .i, svg {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
		max-height: 100%;
    }
}
.elm-overlay {
    display: none;
    animation: fadein ease 0.2s;
    background: fade(#000, 80);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 120;
    &.active {
        display: block;
    }
}
.elm-sticker, .tile-sticker {
	display: inline-block;
	vertical-align: middle;
	height: 28px;
	line-height: 28px;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	border-radius: var(--main-radius) 0 var(--main-radius) 0;
	background: var(--clr-att);
	padding: 0 8px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}
.elm-row, .tile-feature-row {
	display: flex;
	position: relative;
	align-items: flex-end;
	justify-content: space-between;
	font-size: 14px;
	line-height: 1.43;
	margin: 0 0 8px 0;
	&:last-child {
		margin-bottom: 0;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		bottom: 0.3em;
		left: 0;
		right: 0;
		height: 1px;
		border-top: 1px dashed var(--clr-base-300);
	}
	.row-title, .row-value {
		display: block;
		position: relative;
		z-index: 2;
		padding: 0 8px 0 0;
		background-color: #fff;
		max-width: 50%;
	}
	.row-value {
		padding: 0 0 0 8px;
		text-align: right;
		color: var(--clr-base);
	}
	.row-title {
		color: var(--clr-light);
	}
}
@media (max-width: 767px) {
	.item-tile-refresh {
		font-size: 18px;
		height: 300px;
	}
	.item-tile-catalog {
		&.tile-slider {
			.tile-actions-wrap {
				display: flex;
				align-items: center;
			}
			.tile-price-wrap {
				margin-bottom: 0;
			}
		}
	}
}
@media (min-width: 768px) {
	.item-tile-catalog {
		padding: 16px;
		&.active {
			padding: 16px;
		}
		.tile-delivery-info-wrap {
			margin-bottom: 0;
		}
		.tile-actions-wrap {
			display: flex;
			align-items: center;
		}
		.tile-price-wrap {
			margin-bottom: 0;
		}
		.tile-button-cart {
			order: 1;
		}
		.tile-button-info {
			order: 2;
			padding-left: 4px;
			.btn {
				&:before {
					background-image: url(../img/icons/arrow-main.svg);
					background-size: 24px auto;
					opacity: 1;
					transform: rotate(-90deg);
				}
				&.active {
					&:before {
						transform: rotate(90deg);
						background-image: url(../img/icons/arrow-main.svg);
						background-size: 24px auto;
					}
				}
			}
		}
		.tile-buttons-wrap {
			flex-shrink: 0;
		}
		.tile-title-wrap {
			padding: 12px 0 20px 0;
			min-height: 92px;
		}
		.tile-features-wrap, .tile-colors-wrap {
			padding-top: 0;
		}
		.tile-title {
			font-size: 18px;
			line-height: 1.44;
		}
		.tile-subtitle {
			font-size: 14px;
			line-height: 1.43;
		}
		.tile-photo {
			aspect-ratio: 260/240;
		}
		.tile-sticker {
			top: 0;
			left: 0;
		}
		.tile-delivery-info {
			margin-bottom: 6px;
		}
		.btn-action-ico {
			&.ico-fav, &.ico-compare {
				width: 40px;height: 40px;
				top: 28px;right: 33px;
				&:before, &:after {
					background-size: 32px auto;
				}
			}
			&.ico-compare {
				right: 78px;
			}
		}
	}
	.tile-sticker, .elm-sticker {
		height: 36px;
		line-height: 36px;
		padding: 0 20px;
		font-size: 14px;
	}
}
@media (min-width: 1024px) {
	.item-tile-catalog {
		transition-delay: 0s;
		transition: none;
		&.tile-slider {
			&:hover {
				border-bottom-color: #fff;
			}
		}
		&:hover {
			filter: drop-shadow(0 13px 51px rgba(0, 0, 0, 0.25));
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			transition-delay: 0.02s;
			box-shadow: none;
			transition: all ease 0.2s;
			z-index: 3;
			.tile-features-wrap, .tile-colors-wrap {
				display: block;
				animation-delay: 1s;
			}
			.tile-button-action {
				display: block;
			}
		}
		.tile-title-wrap {
			min-height: 40px;
			padding-bottom: 12px;
		}
		.tile-delivery-info-wrap {
			margin-bottom: 10px;
		}
		.tile-button-info {
			display: none;
		}
		.tile-features-wrap, .tile-colors-wrap {
			position: absolute;
			top: 100%;
			left: 0;right: 0;
			background: #fff;
			z-index: 10;
			animation: fadein ease 0.1s;
			padding: 0 15px 15px 15px;
			margin: 0;
		}
		.tile-colors-wrap {
			border: 1px solid var(--clr-att);
			border-top: none;
			left: -1px;right: -1px;
			border-bottom-left-radius: var(--main-radius);
			border-bottom-right-radius: var(--main-radius);
		}
		.tile-feature-row {
			font-size: 16px;
			line-height: 1.5;
		}
		.list {
			margin: 0 -5px 0 0;
			li {
				padding: 0 5px 4px 0;
				width: 20%;
			}
			.tile-photo {
				height: 38px;
			}
		}
	}
}