
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo-footer.svg" alt="">
				<div class="logo-title">Доверьте пол профессионалам</div>
			</a>
		</div>
		<div class="menu-inner-wrap">
			<ul class="menu">
				<li class="menu-contacts">
					<a href="" class="btn-menu-toggle">Контакты</a>
					<div class="menu-contacts-wrap submenu-wrap">
						<ul>
							<li><a href="">8 (495) 255 07 07</a></li>
							<li><a href="">8 (800) 775-04-60</a></li>
							<li><a href="mailto:company@floordealer.ru">company@floordealer.ru</a></li>
							<li>
								<a href="" class="btn-action-ico button-soc">
									<img src="./img/icons/soc-whatsapp.svg" alt="">
								</a>
								<a href="" class="btn-action-ico button-soc">
									<img src="./img/icons/soc-telegram.svg" alt="">
								</a>
							</li>
						</ul>
						<p>г. Москва, <br>Шоссе Энтузиастов, д. 56, стр. 32 <br>Пн – Пт: с 9:00 до 18:00 <br>Бесплатная парковка</p>
						<p>г. Москва, <br>Ленинградский проспект, 37к3 <br>Пн – Пт: с 9:00 до 18:00 <br>Бесплатная парковка</p>
						<p>г. Москва, <br>Киевское шоссе, 22-й км, ДВ. 4, корп. Г <br>Ежедневно: с 10:00 до 21:00 <br>Бесплатная парковка</p>
					</div>
				</li>
				<li>
					<a href="" class="btn-menu-toggle">Категории товаров</a>
					<ul class="menu-inner submenu-wrap">
						<li><a href="">Ковролин</a></li>
						<li><a href="">Ковровая плитка</a></li>
						<li><a href="">Линолеум</a></li>
						<li><a href="">Виниловая плитка</a></li>
						<li><a href="">Ламинат</a></li>
						<li><a href="">Паркетная доска</a></li>
						<li><a href="">Пробковое покрытие</a></li>
						<li><a href="">Искусственная трава</a></li>
						<li><a href="">Керамогранит</a></li>
						<li><a href="">Циновки</a></li>
						<li><a href="">Циновки</a></li>
						<li><a href="">Инженерная доска</a></li>
						<li><a href="">Сопутствующие материалы</a></li>
						<li><a href="">Грязезащитные покрытия</a></li>
						<li><a href="">Искусственная трава</a></li>
					</ul>
				</li>
				<li>
					<a href="" class="btn-menu-toggle">Клиентам</a>
					<ul class="menu-inner submenu-wrap">
						<li><a href="">Дилерам и архитекторам</a></li>
						<li><a href="">Поставщикам</a></li>
						<li><a href="">Карьера</a></li>
						<li><a href="">Сертификаты</a></li>
						<li><a href="">Отзывы</a></li>
						<li><a href="">Полезное</a></li>
						<li><a href="">Контакты</a></li>
						<li><a href="">Дилерам и архитекторам</a></li>
						<li><a href="">Поставщикам</a></li>
						<li><a href="">Карьера</a></li>
						<li><a href="">Сертификаты</a></li>
						<li><a href="">Отзывы</a></li>
						<li><a href="">Полезное</a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="info-inner-wrap">
			<p>Сайт www.floordealer.ru носит исключительно информационный характер и ни при каких условиях не является публичной офертой. Для получения информации о стоимости, цвете и комплектации товаров, пожалуйста, обращайтесь в отдел продаж компании ФлорДилер.</p>
		</div>
		<div class="copy-inner-wrap">
			<p>ООО «FLOOR DEALER», 2013-2024 | Разработка и поддержка <a href="">OOMI</a></p>
		</div>
	</div>
</footer>
<!-- /footer -->


<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-map-info">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Как к нам доехать</div>
		</div>
		<div class="popup-content-wrap">
			<div class="popup-info-box">
				<div class="map-inner-wrap">
					<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=-eov8YMYfEHTrqs_Q1kKzkBJYs6HKSuT&width=100%25&height=100%25&lang=ru_RU&sourceType=constructor"></script>
				</div>
				<div class="action-inner-wrap">
					<a href="" class="btn">Открыть в навигаторе</a>
				</div>
				<div class="info-inner-wrap">
					<h2 class="h2-title">На автомобиле</h2>
					<h3 class="h3-title">Из центра:</h3>
					<p>Следуйте по Шоссе Энтузиастов до съезда на ул. Электродная, не сворачивая на нее езжайте прямо по дублеру Ш. Энтузиастов. Через 800 м. по правую руку здание с зеленой вывеской «Банк Далена»</p>
					<h3 class="h3-title">В центр:</h3>
					<p>Следуйте по Шоссе Энтузиастов до станции метро Ш. Энтузиастов, через 200 метров на светофоре поверните налево в сторону ул. Электродная, не сворачивая на нее езжайте прямо по дублеру Ш. Энтузиастов. Через 800 м. по правую руку здание с зеленой вывеской «Банк Далена»</p>
					<h2 class="h2-title">На общественном транспорте</h2>
					<p>м. Шоссе Энтузиастов, 3-й вагон из центра, из стеклянных дверей направо, при выходе в город повернуть налево. Вдоль Шоссе Энтузиастов. 8-10 минут (800 м) двигайтесь прямо, по ходу машин от центра. Вход в офис через проходную у банка. Ориентир - зеленая вывеска «Банк Далена» на здании.</p>
					<p><b>На 1-ом этаже звоните по тел. (495) 255-07-07 или на мобильный пригласившего Вас сотрудника, Вас обязательно встретят.</b></p>
				</div>
			</div>
		</div>
		<div class="popup-footer-wrap">
			<a href="" class="btn button-gray-light js-btn-popup-close">
				<div class="button-ico">
					<img src="./img/icons/close.svg" alt="">
				</div>
				<div class="button-title">Закрыть</div>
			</a>
		</div>
	</div>
</div><!--/popup-outer-box-->


<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-added-cart">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-content-wrap">
			<div class="popup-cart-box">
				<div class="popup-section-wrap section-no-border">
					<div class="popup-subtitle title-att title-large">Вы добавили в корзину!</div>
					<a href="" class="item-tile-cart">
						<div class="tile-photo-wrap">
							<div class="tile-photo photo-cover">
								<img src="./img/catalog.jpg" alt="">
							</div>
						</div>
						<div class="tile-title-wrap">
							<div class="tile-title">Ковролин Forbo Akzent </div>
							<div class="tile-subtitle">Condor Carpets</div>
						</div>
					</a>
					<div class="info-items-wrap">
						<div class="info-wrap">
							<div class="info-title">Количество</div>
							<div class="info-value">2.109м2</div>
						</div>
						<div class="info-wrap">
							<div class="info-title">На сумму</div>
							<div class="info-value"><div class="elm-price" data-unit=" ₽">16 200</div></div>
						</div>
						<div class="info-wrap">
							<div class="info-title">Цена за м²</div>
							<div class="info-value"><div class="elm-price" data-unit=" ₽">23 500</div></div>
						</div>
					</div>
				</div>
				<div class="popup-section-wrap">
					<div class="button-action-wrap">
						<a href="" class="btn">
							<div class="button-ico">
								<img src="./img/icons/cart.svg" alt="">
							</div>
							<div class="button-title">Перейти в корзину</div>
							<div class="button-ico">
								<img src="./img/icons/arrow-next.svg" alt="">
							</div>
						</a>
					</div>
					<div class="button-action-wrap">
						<a href="" class="btn button-gray-light">Купить в один клик</a>
					</div>
				</div>
				<div class="popup-section-wrap section-no-border">
					<div class="popup-subtitle title-large">Вам может пригодится</div>
					<ul class="menu">
						<li><a href="">Грунтовка</a></li>
						<li><a href="">Клей</a></li>
						<li><a href="">Плинтус</a></li>
						<li><a href="">Подложка </a></li>
						<li><a href="">Сварочный шнур ПВХ</a></li>
						<li><a href="">Сухие смеси</a></li>
						<li><a href="">Шпатлевка</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="popup-footer-wrap">
			<a href="" class="btn button-gray-light js-btn-popup-close">
				<div class="button-ico">
					<img src="./img/icons/close.svg" alt="">
				</div>
				<div class="button-title">Закрыть</div>
			</a>
		</div>
	</div>
</div><!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box popup-close-light" id="popup-add-cart">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-content-wrap">
			<div class="popup-cart-box">
				<div class="photo-inner-wrap">
					<div class="elm-photo photo-cover">
						<img src="./img/catalog.jpg" alt="">
					</div>
				</div>
				<div class="popup-section-wrap">
					<div class="popup-subtitle title-att title-large">Вы добавляете</div>
					<div class="info-item-wrap">
						<div class="info-item-title-wrap">
							<div class="info-item-title">Ковролин Forbo Akzent </div>
							<div class="info-item-subtitle">Condor Carpets</div>
						</div>
						<div class="info-item-price-wrap">
							<div class="info-item-price-title">Цена за м²</div>
							<div class="info-item-price-value"><div class="elm-price" data-unit=" ₽">23 500</div></div>
						</div>
					</div>
				</div>
				<div class="popup-section-wrap section-no-border">
					<div class="popup-subtitle">Выберите ширину</div>
					<div class="info-select-wrap">
						<div class="frm-select-button">
							<input type="radio" name="select-button01" id="select-button01-01">
							<label for="select-button01-01">4м</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="select-button01" id="select-button01-02" checked>
							<label for="select-button01-02">5м</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="select-button01" id="select-button01-03">
							<label for="select-button01-03">8м</label>
						</div>
					</div>
				</div>
				<div class="popup-section-wrap section-no-border">
					<div class="popup-subtitle">Укажите количество метров</div>
					<div class="info-select-wrap">
						<div class="frm-select-button">
							<input type="radio" name="select-button02" id="select-button02-01">
							<label for="select-button02-01">м²</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="select-button02" id="select-button02-02" checked>
							<label for="select-button02-02">пог. м</label>
						</div>
					</div>
					<div class="info-counter-wrap">
						<div class="frm-field-counter">
							<input type="text" class="form-input" value="1">
							<button class="btn-action-ico btn ico-arrow ico-arrow-prev field-counter-button"  data-type="plus"></button>
							<button class="btn-action-ico btn ico-arrow field-counter-button" data-type="minus"></button>
						</div>
					</div>
					<div class="popup-section-desc">Минимальный заказ от 1.236 м2</div>
				</div>
				<div class="popup-section-wrap">
					<div class="button-action-wrap">
						<a href="" class="btn">
							<div class="button-ico">
								<img src="./img/icons/cart.svg" alt="">
							</div>
							<div class="button-title">Добавить в корзину</div>
						</a>
					</div>
					<div class="button-action-wrap">
						<a href="" class="btn button-gray-light">Купить в один клик</a>
					</div>
				</div>
				<div class="popup-section-subinfo-wrap">
					<div class="popup-subtitle">У вас есть вопросы?</div>
					<div class="popup-subtitle title-light">Наши эксперты Вам помогут.</div>
					<div class="popup-phone">
						<a href="tel:88007750406" class="link-phone">8 (800) 775 04 06</a>
					</div>
					<div class="popup-phone-action">
						<a href="" class="link-main">Заказать обратный звонок</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->