
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo-footer.svg" alt="">
				<div class="logo-title">Доверьте пол профессионалам</div>
			</a>
		</div>
		<div class="menu-inner-wrap">
			<ul class="menu">
				<li class="menu-contacts">
					<a href="" class="btn-menu-toggle">Контакты</a>
					<div class="menu-contacts-wrap submenu-wrap">
						<ul>
							<li><a href="">8 (495) 255 07 07</a></li>
							<li><a href="">8 (800) 775-04-60</a></li>
							<li><a href="mailto:company@floordealer.ru">company@floordealer.ru</a></li>
							<li>
								<a href="" class="btn-action-ico button-soc">
									<img src="./img/icons/soc-whatsapp.svg" alt="">
								</a>
								<a href="" class="btn-action-ico button-soc">
									<img src="./img/icons/soc-telegram.svg" alt="">
								</a>
							</li>
						</ul>
						<p>г. Москва, <br>Шоссе Энтузиастов, д. 56, стр. 32 <br>Пн – Пт: с 9:00 до 18:00 <br>Бесплатная парковка</p>
						<p>г. Москва, <br>Ленинградский проспект, 37к3 <br>Пн – Пт: с 9:00 до 18:00 <br>Бесплатная парковка</p>
						<p>г. Москва, <br>Киевское шоссе, 22-й км, ДВ. 4, корп. Г <br>Ежедневно: с 10:00 до 21:00 <br>Бесплатная парковка</p>
					</div>
				</li>
				<li>
					<a href="" class="btn-menu-toggle">Категории товаров</a>
					<ul class="menu-inner submenu-wrap">
						<li><a href="">Ковролин</a></li>
						<li><a href="">Ковровая плитка</a></li>
						<li><a href="">Линолеум</a></li>
						<li><a href="">Виниловая плитка</a></li>
						<li><a href="">Ламинат</a></li>
						<li><a href="">Паркетная доска</a></li>
						<li><a href="">Пробковое покрытие</a></li>
						<li><a href="">Искусственная трава</a></li>
						<li><a href="">Керамогранит</a></li>
						<li><a href="">Циновки</a></li>
						<li><a href="">Циновки</a></li>
						<li><a href="">Инженерная доска</a></li>
						<li><a href="">Сопутствующие материалы</a></li>
						<li><a href="">Грязезащитные покрытия</a></li>
						<li><a href="">Искусственная трава</a></li>
					</ul>
				</li>
				<li>
					<a href="" class="btn-menu-toggle">Клиентам</a>
					<ul class="menu-inner submenu-wrap">
						<li><a href="">Дилерам и архитекторам</a></li>
						<li><a href="">Поставщикам</a></li>
						<li><a href="">Карьера</a></li>
						<li><a href="">Сертификаты</a></li>
						<li><a href="">Отзывы</a></li>
						<li><a href="">Полезное</a></li>
						<li><a href="">Контакты</a></li>
						<li><a href="">Дилерам и архитекторам</a></li>
						<li><a href="">Поставщикам</a></li>
						<li><a href="">Карьера</a></li>
						<li><a href="">Сертификаты</a></li>
						<li><a href="">Отзывы</a></li>
						<li><a href="">Полезное</a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="info-inner-wrap">
			<p>Сайт www.floordealer.ru носит исключительно информационный характер и ни при каких условиях не является публичной офертой. Для получения информации о стоимости, цвете и комплектации товаров, пожалуйста, обращайтесь в отдел продаж компании ФлорДилер.</p>
		</div>
		<div class="copy-inner-wrap">
			<p>ООО «FLOOR DEALER», 2013-2024 | Разработка и поддержка <a href="">OOMI</a></p>
		</div>
	</div>
</footer>
<!-- /footer -->